In [1]:
# required modules
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('default')

In [249]:
dfx = pd.read_csv('../data/data_combined_v1.03.csv')
dfx.columns

Index(['place_id', 'tripadvisor_id', 'fsq_id', 'name', 'business_status',
       'types', 'price_level', 'ta_price_level', 'price_level_combined',
       'rating', 'user_ratings_total', 'ta_rating', 'ta_user_ratings_total',
       'combined_rating', 'geometry.location.lat', 'geometry.location.lng',
       'formatted_address', 'zip_code', 'city', 'international_phone_number',
       'website', 'google_category', 'ta_4sq_cuisine1', 'ta_4sq_cuisine2',
       'ta_4sq_cuisine3', 'ta_4sq_cuisine4', 'ta_4sq_cuisine5',
       'main_category_1', 'main_category_2', 'main_category_3',
       'main_category_4', 'combined_main_category', 'sub_category',
       'neighboorhood_area_km2', 'resident_population_total',
       'population_age_0_14', 'population_15_19', 'population_20_24',
       'population_25_34', 'population_35_44', 'population_45_54',
       'population_54_64', 'population_65+', 'resident_per_km2',
       'brut_income_annual_per_person', 'district', 'district_cluster'],
      dtype='object')

In [252]:
 dfx['user_ratings_total'].isnull().sum() / len(dfx) *100

13.957934990439771

In [219]:
df = pd.read_csv('../data/data_combined_v1.03.csv')\
    [['place_id',
    'name',
    'price_level_combined',
    'combined_rating',
    'geometry.location.lat', 'geometry.location.lng',
    'combined_main_category',
    'sub_category',
    'district', 
    'district_cluster']]
df

,place_id,name,price_level_combined,combined_rating,geometry.location.lat,geometry.location.lng,combined_main_category,sub_category,district,district_cluster
0,ChIJd6kh67ZkjEcRC1IQourQOyo,Restaurant La Tentation,3.0,4.1,46.205232,6.114945,"European, Swiss",NaN,Saint-Jean Charmilles,3
1,ChIJX68uubZkjEcRKKxpZ7OrgqU,Café Restaurant Palma,4.0,3.7,46.204931,6.114021,General / Restaurant,NaN,Saint-Jean Charmilles,3
2,ChIJPcYsG_BljEcR4kTFqBJJoK4,Le Versailles,3.0,3.9,46.205752,6.114763,"Italian, French, European",NaN,Saint-Jean Charmilles,3
3,ChIJV8uySFxljEcRn7XpIO3zZX0,Restaurant Les Jardins du Rhône,NaN,NaN,46.205248,6.115503,General / Restaurant,NaN,Saint-Jean Charmilles,3
4,ChIJW8zU8rZkjEcR_Ke8t7c7hVc,Canteen De La Residence Gardens Du Rhône,4.0,5.0,46.205387,6.115347,General / Restaurant,NaN,Saint-Jean Charmilles,3
...,...,...,...,...,...,...,...,...,...,...
1564,ChIJtW8VekZljEcRHMTm4W0SQoo,Hôtel du Parc des Eaux-Vives,4.0,4.4,46.207746,6.169275,General / Restaurant,NaN,Eaux-Vives - Lac,16
1565,ChIJ8xcfO5JljEcRMsNfQ7YjlqM,La Terrasse du Parc,4.0,3.0,46.208511,6.169342,European,NaN,Eaux-Vives - Lac,16
1566,ChIJhxG2srN6jEcRUls_UY7b5Io,Le B d'Armand,3.0,4.0,46.192811,6.169873,General / Fast food / Snacks / Take Away,Sandwich / Snacks,Champel,40
1567,ChIJHSzAC1JljEcRjr7q009gZe4,Road Runner,3.0,4.1,46.199892,6.174117,American,NaN,Eaux-Vives - Lac,16
1568,ChIJL68o71FljEcRvXVtz35xl2A,Restaurant Les Tulipiers,2.0,4.3,46.201690,6.174614,General / Restaurant,NaN,Eaux-Vives - Lac,16

In [11]:
df_rest.columns

Index(['place_id', 'tripadvisor_id', 'fsq_id', 'name', 'business_status',
       'types', 'price_level', 'ta_price_level', 'price_level_combined',
       'rating', 'user_ratings_total', 'ta_rating', 'ta_user_ratings_total',
       'combined_rating', 'geometry.location.lat', 'geometry.location.lng',
       'formatted_address', 'zip_code', 'city', 'international_phone_number',
       'website', 'google_category', 'ta_4sq_cuisine1', 'ta_4sq_cuisine2',
       'ta_4sq_cuisine3', 'ta_4sq_cuisine4', 'ta_4sq_cuisine5',
       'main_category_1', 'main_category_2', 'main_category_3',
       'main_category_4', 'combined_main_category', 'sub_category',
       'neighboorhood_area_km2', 'resident_population_total',
       'population_age_0_14', 'population_15_19', 'population_20_24',
       'population_25_34', 'population_35_44', 'population_45_54',
       'population_54_64', 'population_65+', 'resident_per_km2',
       'brut_income_annual_per_person', 'district', 'district_cluster'],
      dtype='object')

# Trials

In [16]:
def filter_data(df, rest_district=None, rest_category=None):
    if rest_district and rest_category:
        return df[(df['district'] == rest_district) & (df['combined_main_category'].str.contains(rest_category))]
        
    elif rest_district:
        return df[df['district'] == rest_district]
        
    elif rest_category:
        return df[df['combined_main_category'].str.contains(rest_category)]
    
    else:
        return df

In [18]:
filter_data(df)

,place_id,name,price_level_combined,combined_rating,geometry.location.lat,geometry.location.lng,combined_main_category,sub_category,district,district_cluster
0,ChIJd6kh67ZkjEcRC1IQourQOyo,Restaurant La Tentation,3.0,4.1,46.205232,6.114945,"European, Swiss",NaN,Saint-Jean Charmilles,3
1,ChIJX68uubZkjEcRKKxpZ7OrgqU,Café Restaurant Palma,4.0,3.7,46.204931,6.114021,General / Restaurant,NaN,Saint-Jean Charmilles,3
2,ChIJPcYsG_BljEcR4kTFqBJJoK4,Le Versailles,3.0,3.9,46.205752,6.114763,"Italian, French, European",NaN,Saint-Jean Charmilles,3
3,ChIJV8uySFxljEcRn7XpIO3zZX0,Restaurant Les Jardins du Rhône,NaN,NaN,46.205248,6.115503,General / Restaurant,NaN,Saint-Jean Charmilles,3
4,ChIJW8zU8rZkjEcR_Ke8t7c7hVc,Canteen De La Residence Gardens Du Rhône,4.0,5.0,46.205387,6.115347,General / Restaurant,NaN,Saint-Jean Charmilles,3
...,...,...,...,...,...,...,...,...,...,...
1564,ChIJtW8VekZljEcRHMTm4W0SQoo,Hôtel du Parc des Eaux-Vives,4.0,4.4,46.207746,6.169275,General / Restaurant,NaN,Eaux-Vives - Lac,16
1565,ChIJ8xcfO5JljEcRMsNfQ7YjlqM,La Terrasse du Parc,4.0,3.0,46.208511,6.169342,European,NaN,Eaux-Vives - Lac,16
1566,ChIJhxG2srN6jEcRUls_UY7b5Io,Le B d'Armand,3.0,4.0,46.192811,6.169873,General / Fast food / Snacks / Take Away,Sandwich / Snacks,Champel,40
1567,ChIJHSzAC1JljEcRjr7q009gZe4,Road Runner,3.0,4.1,46.199892,6.174117,American,NaN,Eaux-Vives - Lac,16
1568,ChIJL68o71FljEcRvXVtz35xl2A,Restaurant Les Tulipiers,2.0,4.3,46.201690,6.174614,General / Restaurant,NaN,Eaux-Vives - Lac,16

In [19]:
filter_data(df, rest_district='Saint-Jean Charmilles', rest_category='Italian')

,place_id,name,price_level_combined,combined_rating,geometry.location.lat,geometry.location.lng,combined_main_category,sub_category,district,district_cluster
2,ChIJPcYsG_BljEcR4kTFqBJJoK4,Le Versailles,3.0,3.9,46.205752,6.114763,"Italian, French, European",NaN,Saint-Jean Charmilles,3
20,ChIJZ0HOdJtljEcR8x0Gn7jTlXo,Cafe Salento,4.0,4.9,46.204627,6.123188,"Pizza, Italian",NaN,Saint-Jean Charmilles,2
25,ChIJdRFop8hkjEcRjhEtkUr_tJc,Da Pulcinella,3.0,4.1,46.207778,6.123889,"Pizza, Italian, European",NaN,Saint-Jean Charmilles,2
28,ChIJC_DLKcdkjEcRexbawoQqn0g,Auberge Fédérale - Le Ginevra,3.0,4.2,46.212803,6.123381,"Italian, Swiss, European",NaN,Saint-Jean Charmilles,5
37,ChIJdRFop8hkjEcRgxjZITIYzBs,Restaurant Francesca Genève,4.0,4.5,46.208549,6.124254,Italian,NaN,Saint-Jean Charmilles,2
41,ChIJIyvjXKtljEcR_8tG92ZUEGY,LE FARINET Restaurant Italien,4.0,4.3,46.204245,6.124537,Italian,NaN,Saint-Jean Charmilles,2
46,ChIJ4Yr9FlFljEcR1R8FSCAWg94,"Brasserie Nouvelle, Restaurant Italien sur Genève",3.0,3.9,46.208731,6.125641,"Italian, European, French",NaN,Saint-Jean Charmilles,2
52,ChIJ-Zs39HNljEcRuesV2k5wCZo,Calia,3.0,3.9,46.208203,6.125998,Italian,NaN,Saint-Jean Charmilles,2
53,ChIJFbbjIMRkjEcR4DHAfGLZsSk,Restaurant L'Ambiance à Genève,3.0,4.2,46.211570,6.126065,Italian,NaN,Saint-Jean Charmilles,5
73,ChIJFW95Fc5kjEcRuYzGeuXeXFc,Giardino Romano,3.0,4.2,46.204665,6.128752,"Italian, European",NaN,Saint-Jean Charmilles,4
78,ChIJMYEUfsNkjEcRgaY-NpVoIy4,DOSA Sàrl,3.0,4.2,46.212866,6.129261,Italian,NaN,Saint-Jean Charmilles,1
156,ChIJD0KuNtBkjEcRoTKFmN4Qe5k,Les Tilleuls,3.0,4.2,46.205819,6.131335,Italian,NaN,Saint-Jean Charmilles,4
183,ChIJXw2jUNtkjEcRsNzOR4dAah0,Il Forno a Legna,3.0,4.3,46.212252,6.132287,"Italian, Pizza, European",NaN,Saint-Jean Charmilles,1

In [79]:
df_rest_total = df.groupby(['district','district_cluster'])[['place_id']]\
                .count()\
                .rename(columns={'place_id':'total_restaurants'})\
                .sort_values(by='district_cluster')\
                .reset_index()
df_rest_total

                   district  district_cluster  total_restaurants
0     Saint-Jean Charmilles                 1                 17
1     Saint-Jean Charmilles                 2                 31
2     Saint-Jean Charmilles                 3                  7
3     Saint-Jean Charmilles                 4                 18
4     Saint-Jean Charmilles                 5                 19
5           Bâtie - Acacias                 6                 33
6           Bâtie - Acacias                 7                 15
7   Servette Petit-Saconnex                 9                 17
8   Servette Petit-Saconnex                10                 13
9   Servette Petit-Saconnex                11                 27
10   Jonction - Plainpalais                12                 53
11   Jonction - Plainpalais                13                 52
12   Jonction - Plainpalais                14                 51
13   Jonction - Plainpalais                15                 44
14         Eaux-Vives - Lac                16                 19
15         Eaux-Vives - Lac                17                 69
16         Eaux-Vives - Lac                18                 20
17         Eaux-Vives - Lac                19                 40
18         Eaux-Vives - Lac                20                 40
19    Grottes Saint-Gervais                21                 74
20    Grottes Saint-Gervais                22                 29
21    Grottes Saint-Gervais                23                 64
22    Grottes Saint-Gervais                24                 40
23    Grottes Saint-Gervais                25                 45
24          Pâquis Sécheron                26                 77
25          Pâquis Sécheron                27                 61
26          Pâquis Sécheron                28                 98
27          Pâquis Sécheron                29                 16
28          Pâquis Sécheron                30                  8
29   La Cluse - Philosophes                31                 29
30   La Cluse - Philosophes                32                 29
31   La Cluse - Philosophes                33                 31
32   La Cluse - Philosophes                34                 31
33   La Cluse - Philosophes                35                 19
34              Cité-Centre                36                 89
35              Cité-Centre                37                 47
36              Cité-Centre                38                 55
37              Cité-Centre                39                 86
38                  Champel                40                 19
39                  Champel                41                  8
40                  Champel                42                 24
41                  Champel                43                  4

In [73]:
# Scenario 1, no district and restaurant type selected
df_filtered = filter_data(df)
df_filtered

,place_id,name,price_level_combined,combined_rating,geometry.location.lat,geometry.location.lng,combined_main_category,sub_category,district,district_cluster
0,ChIJd6kh67ZkjEcRC1IQourQOyo,Restaurant La Tentation,3.0,4.1,46.205232,6.114945,"European, Swiss",NaN,Saint-Jean Charmilles,3
1,ChIJX68uubZkjEcRKKxpZ7OrgqU,Café Restaurant Palma,4.0,3.7,46.204931,6.114021,General / Restaurant,NaN,Saint-Jean Charmilles,3
2,ChIJPcYsG_BljEcR4kTFqBJJoK4,Le Versailles,3.0,3.9,46.205752,6.114763,"Italian, French, European",NaN,Saint-Jean Charmilles,3
3,ChIJV8uySFxljEcRn7XpIO3zZX0,Restaurant Les Jardins du Rhône,NaN,NaN,46.205248,6.115503,General / Restaurant,NaN,Saint-Jean Charmilles,3
4,ChIJW8zU8rZkjEcR_Ke8t7c7hVc,Canteen De La Residence Gardens Du Rhône,4.0,5.0,46.205387,6.115347,General / Restaurant,NaN,Saint-Jean Charmilles,3
...,...,...,...,...,...,...,...,...,...,...
1564,ChIJtW8VekZljEcRHMTm4W0SQoo,Hôtel du Parc des Eaux-Vives,4.0,4.4,46.207746,6.169275,General / Restaurant,NaN,Eaux-Vives - Lac,16
1565,ChIJ8xcfO5JljEcRMsNfQ7YjlqM,La Terrasse du Parc,4.0,3.0,46.208511,6.169342,European,NaN,Eaux-Vives - Lac,16
1566,ChIJhxG2srN6jEcRUls_UY7b5Io,Le B d'Armand,3.0,4.0,46.192811,6.169873,General / Fast food / Snacks / Take Away,Sandwich / Snacks,Champel,40
1567,ChIJHSzAC1JljEcRjr7q009gZe4,Road Runner,3.0,4.1,46.199892,6.174117,American,NaN,Eaux-Vives - Lac,16
1568,ChIJL68o71FljEcRvXVtz35xl2A,Restaurant Les Tulipiers,2.0,4.3,46.201690,6.174614,General / Restaurant,NaN,Eaux-Vives - Lac,16

In [150]:
most_competitive_cluster = df_filtered.groupby(['district','district_cluster'])[['place_id']].count()\
    .nlargest(5, 'place_id', 'all')\
    .sort_values('place_id', ascending=False).reset_index()
most_competitive_cluster

           district  district_cluster  place_id
0       Cité-Centre                39        12
1  Eaux-Vives - Lac                17        10
2       Cité-Centre                36         8
3       Cité-Centre                38         8
4   Pâquis Sécheron                27         8

In [70]:
least_competitive_cluster = df_filtered.groupby(['district','district_cluster'])[['place_id']].count()\
    .nsmallest(5, 'place_id', 'all')\
    .sort_values('place_id', ascending=True).reset_index()
least_competitive_cluster

                  district  district_cluster  place_id
0                  Champel                43         4
1    Saint-Jean Charmilles                 3         7
2                  Champel                41         8
3          Pâquis Sécheron                30         8
4  Servette Petit-Saconnex                10        13

In [81]:
# Scenario 2, restaurant type selected but no district
rest_category='Mexican'
df_filtered = filter_data(df, rest_category=rest_category)
df_filtered

,place_id,name,price_level_combined,combined_rating,geometry.location.lat,geometry.location.lng,combined_main_category,sub_category,district,district_cluster
103,ChIJdWyq-KVljEcR4rOwqeggj-U,Tacos Tacos,4.0,4.3,46.201489,6.129935,Mexican,Taco,Jonction - Plainpalais,13
151,ChIJMQYonZdljEcRidkh_YahbVw,Le Mexicain,3.0,4.8,46.202248,6.131421,Mexican,NaN,Jonction - Plainpalais,13
230,ChIJh66CGOBjjEcRwlsLDlgIFG0,Minimax Tacos,4.0,4.7,46.211377,6.134120,Mexican,Taco,Saint-Jean Charmilles,1
259,ChIJQ65dBdpkjEcRKBxENElzfzM,Restaurant Le Chat Rouge,3.0,4.3,46.208056,6.135556,Mexican,NaN,Grottes Saint-Gervais,22
281,ChIJMa97D9pkjEcR7kVFECZ9jww,Fajitas Express,NaN,NaN,46.208082,6.135609,Mexican,NaN,Grottes Saint-Gervais,22
310,ChIJSRr5-dlkjEcReQY3guLqVb0,The Tacos Factory,2.0,4.3,46.208175,6.136695,Mexican,Taco,Grottes Saint-Gervais,22
361,ChIJ-Q98rmFljEcRIYJsTEp7zLY,Clandestino,4.0,4.2,46.204053,6.137788,Mexican,NaN,Jonction - Plainpalais,12
415,ChIJ4a_5r9lkjEcRck1u42Y6Suc,Kira Tacos,4.0,4.2,46.209322,6.138717,Mexican,Taco,Grottes Saint-Gervais,25
476,ChIJqwDL69V6jEcR3RtVQDpfZTU,Los Bandidos,2.0,4.2,46.193835,6.140050,Mexican,NaN,Jonction - Plainpalais,15
483,ChIJ57Z06dV6jEcRsOb5DTyfoCI,Tex Mex Food,NaN,NaN,46.193801,6.139994,Mexican,NaN,Jonction - Plainpalais,15
564,ChIJoUcxVtR6jEcRUTYJ4j38b3w,Ge Tacos,2.0,4.2,46.195294,6.142177,Mexican,Taco,La Cluse - Philosophes,31
620,ChIJrdSYttB6jEcRrwx23hkN4-I,I' Tacos,4.0,3.7,46.189177,6.143320,Mexican,Taco,La Cluse - Philosophes,32
658,ChIJcWhuOytljEcR7d5rRqxpBTI,Taco Rico,3.0,4.2,46.198472,6.143448,Mexican,Taco,Cité-Centre,38
762,ChIJo9pPzydljEcRurHIjNtgbA4,Sam's,2.0,4.5,46.208073,6.144075,Mexican,Taco,Grottes Saint-Gervais,21
768,ChIJ98NhtydljEcRlkRuPWULR8k,Taco Rico,2.0,4.4,46.208639,6.144131,Mexican,NaN,Grottes Saint-Gervais,21
854,ChIJzyi2yVVljEcRuwcaCtXlLUM,Tacos Avenue,4.0,4.7,46.212315,6.144974,Mexican,Taco,Pâquis Sécheron,28
957,ChIJ38oL1tN6jEcRtF9GqXDLIuw,Suprême Tacos,2.0,4.1,46.192742,6.146561,Mexican,Taco,La Cluse - Philosophes,33
958,ChIJT_pQ1NN6jEcRNK0a1kGmgL4,Tacos & Burger,2.0,3.9,46.192838,6.146839,"Mexican, Hamburger",Taco,La Cluse - Philosophes,33
998,ChIJi285k7tljEcRwMxO1xFaJEY,Suprême tacos rue de berne,2.0,3.6,46.210299,6.146157,Mexican,Taco,Pâquis Sécheron,28
1071,ChIJbQjx409ljEcR922StqJhYP0,Tacos & Burger,4.0,3.8,46.210368,6.146673,"Mexican, Hamburger",Taco,Pâquis Sécheron,28
1091,ChIJIXPDoSFljEcRU-8H3JkDpoU,El Catrín,3.0,4.4,46.214457,6.147552,Mexican,NaN,Pâquis Sécheron,27
1476,ChIJeR3JsNlljEcRt5DbvNpi5CU,Supreme Tacos,2.0,3.6,46.205102,6.159860,Mexican,Taco,Eaux-Vives - Lac,18
1489,ChIJUcL1-TZljEcRbO2ZU8UmJ9E,Taqueria Los Cuñados,3.0,4.3,46.203339,6.160210,Mexican,NaN,Eaux-Vives - Lac,19

In [86]:
df_tmp1 = df_filtered.groupby(['district','district_cluster'])[['place_id']]\
                .count()\
                .rename(columns={'place_id':f'{rest_category.lower()}_restaurants'})\
                .sort_values(by=f'{rest_category.lower()}_restaurants')\
                .reset_index()
df_tmp1

                  district  district_cluster  mexican_restaurants
0              Cité-Centre                38                    1
1         Eaux-Vives - Lac                18                    1
2         Eaux-Vives - Lac                19                    1
3    Grottes Saint-Gervais                25                    1
4   Jonction - Plainpalais                12                    1
5   La Cluse - Philosophes                31                    1
6   La Cluse - Philosophes                32                    1
7          Pâquis Sécheron                27                    1
8    Saint-Jean Charmilles                 1                    1
9    Grottes Saint-Gervais                21                    2
10  Jonction - Plainpalais                13                    2
11  Jonction - Plainpalais                15                    2
12  La Cluse - Philosophes                33                    2
13   Grottes Saint-Gervais                22                    3
14         Pâquis Sécheron                28                    3

In [93]:
df_merged1 = pd.DataFrame.merge(df_rest_total, df_tmp1.drop(columns=['district']), on='district_cluster', how='left').fillna(0)
df_merged1

,district,district_cluster,total_restaurants,mexican_restaurants
0,Saint-Jean Charmilles,1,17,1.0
1,Saint-Jean Charmilles,2,31,0.0
2,Saint-Jean Charmilles,3,7,0.0
3,Saint-Jean Charmilles,4,18,0.0
4,Saint-Jean Charmilles,5,19,0.0
5,Bâtie - Acacias,6,33,0.0
6,Bâtie - Acacias,7,15,0.0
7,Servette Petit-Saconnex,9,17,0.0
8,Servette Petit-Saconnex,10,13,0.0
9,Servette Petit-Saconnex,11,27,0.0
10,Jonction - Plainpalais,12,53,1.0
11,Jonction - Plainpalais,13,52,2.0
12,Jonction - Plainpalais,14,51,0.0
13,Jonction - Plainpalais,15,44,2.0
14,Eaux-Vives - Lac,16,19,0.0
15,Eaux-Vives - Lac,17,69,0.0
16,Eaux-Vives - Lac,18,20,1.0
17,Eaux-Vives - Lac,19,40,1.0
18,Eaux-Vives - Lac,20,40,0.0
19,Grottes Saint-Gervais,21,74,2.0
20,Grottes Saint-Gervais,22,29,3.0
21,Grottes Saint-Gervais,23,64,0.0
22,Grottes Saint-Gervais,24,40,0.0
23,Grottes Saint-Gervais,25,45,1.0
24,Pâquis Sécheron,26,77,0.0
25,Pâquis Sécheron,27,61,1.0
26,Pâquis Sécheron,28,98,3.0
27,Pâquis Sécheron,29,16,0.0
28,Pâquis Sécheron,30,8,0.0
29,La Cluse - Philosophes,31,29,1.0
30,La Cluse - Philosophes,32,29,1.0
31,La Cluse - Philosophes,33,31,2.0
32,La Cluse - Philosophes,34,31,0.0
33,La Cluse - Philosophes,35,19,0.0
34,Cité-Centre,36,89,0.0
35,Cité-Centre,37,47,0.0
36,Cité-Centre,38,55,1.0
37,Cité-Centre,39,86,0.0
38,Champel,40,19,0.0
39,Champel,41,8,0.0
40,Champel,42,24,0.0
41,Champel,43,4,0.0

In [98]:
df_merged1.nlargest(10,['mexican_restaurants','total_restaurants'], 'all')

,district,district_cluster,total_restaurants,mexican_restaurants
26,Pâquis Sécheron,28,98,3.0
20,Grottes Saint-Gervais,22,29,3.0
19,Grottes Saint-Gervais,21,74,2.0
11,Jonction - Plainpalais,13,52,2.0
13,Jonction - Plainpalais,15,44,2.0
31,La Cluse - Philosophes,33,31,2.0
25,Pâquis Sécheron,27,61,1.0
36,Cité-Centre,38,55,1.0
10,Jonction - Plainpalais,12,53,1.0
23,Grottes Saint-Gervais,25,45,1.0

In [97]:
# least competitive locations
df_merged1.nsmallest(10,['mexican_restaurants','total_restaurants'], 'all')

,district,district_cluster,total_restaurants,mexican_restaurants
41,Champel,43,4,0.0
2,Saint-Jean Charmilles,3,7,0.0
28,Pâquis Sécheron,30,8,0.0
39,Champel,41,8,0.0
8,Servette Petit-Saconnex,10,13,0.0
6,Bâtie - Acacias,7,15,0.0
27,Pâquis Sécheron,29,16,0.0
7,Servette Petit-Saconnex,9,17,0.0
3,Saint-Jean Charmilles,4,18,0.0
4,Saint-Jean Charmilles,5,19,0.0
14,Eaux-Vives - Lac,16,19,0.0
33,La Cluse - Philosophes,35,19,0.0
38,Champel,40,19,0.0

In [101]:
# Scenario 2, restaurant type selected but no district
rest_category='Italian'
df_filtered = filter_data(df, rest_category=rest_category)
df_filtered

df_tmp1 = df_filtered.groupby(['district','district_cluster'])[['place_id']]\
                .count()\
                .rename(columns={'place_id':f'{rest_category.lower()}_restaurants'})\
                .sort_values(by=f'{rest_category.lower()}_restaurants')\
                .reset_index()

df_merged1 = pd.DataFrame.merge(df_rest_total, df_tmp1.drop(columns=['district']), on='district_cluster', how='left').fillna(0)

display(df_merged1.nlargest(10,[f'{rest_category.lower()}_restaurants','total_restaurants'], 'all'))
display(df_merged1.nsmallest(10,[f'{rest_category.lower()}_restaurants','total_restaurants'], 'all'))

,district,district_cluster,total_restaurants,italian_restaurants
37,Cité-Centre,39,86,12.0
15,Eaux-Vives - Lac,17,69,10.0
34,Cité-Centre,36,89,8.0
25,Pâquis Sécheron,27,61,8.0
36,Cité-Centre,38,55,8.0
19,Grottes Saint-Gervais,21,74,7.0
10,Jonction - Plainpalais,12,53,7.0
11,Jonction - Plainpalais,13,52,6.0
1,Saint-Jean Charmilles,2,31,6.0
24,Pâquis Sécheron,26,77,5.0

,district,district_cluster,total_restaurants,italian_restaurants
41,Champel,43,4,0.0
27,Pâquis Sécheron,29,16,0.0
2,Saint-Jean Charmilles,3,7,1.0
28,Pâquis Sécheron,30,8,1.0
39,Champel,41,8,1.0
6,Bâtie - Acacias,7,15,1.0
38,Champel,40,19,1.0
32,La Cluse - Philosophes,34,31,1.0
0,Saint-Jean Charmilles,1,17,2.0
7,Servette Petit-Saconnex,9,17,2.0

In [108]:
# Scenario 3, district selected but no restaurant type
rest_district='Cité-Centre'
df_filtered = filter_data(df, rest_district=rest_district)
df_filtered

,place_id,name,price_level_combined,combined_rating,geometry.location.lat,geometry.location.lng,combined_main_category,sub_category,district,district_cluster
438,ChIJpW8lwyp7jEcR5BFwHL3jNlY,WASABI SUSHI Cirque,3.0,4.0,46.201525,6.139717,Japanese,Sushi,Cité-Centre,38
440,ChIJB7gU7dVkjEcRBojSKznAaAc,Café Remor,3.0,4.0,46.201546,6.139990,"French, European",NaN,Cité-Centre,38
441,ChIJ5X9JLCZljEcRoS4HGO2UFIU,Christie's Bakery - Plainpalais,3.0,4.2,46.201837,6.139863,General / Fast food / Snacks / Take Away,Sandwich / Snacks,Cité-Centre,38
442,ChIJ_Z92DtZkjEcRbzaZpRo6doE,Kytaly,3.0,4.1,46.203176,6.139846,"Italian, Pizza",NaN,Cité-Centre,38
443,ChIJV34oE9ZkjEcR_Ho666yBXT4,Brasserie Da Matteo,4.0,3.7,46.203404,6.139570,"Italian, European",NaN,Cité-Centre,38
...,...,...,...,...,...,...,...,...,...,...
1353,ChIJn0MD2DNljEcR-QpCm0QgrYw,Cotton Pub,4.0,4.2,46.201784,6.155282,French,NaN,Cité-Centre,37
1354,ChIJiTfZhHNljEcRaxC60DmcztI,Pizzeria RiverSide,4.0,4.8,46.201463,6.155269,Pizza,NaN,Cité-Centre,37
1355,ChIJFU4K_kFljEcRvTTDVlxtDp8,Le Bánh Mì,4.0,4.9,46.201586,6.155605,Other Asian,Vietnamese,Cité-Centre,37
1356,ChIJTSVzaTFljEcR7-kiOlJ55Dc,La Plancha,3.0,4.3,46.202618,6.156080,"French, Swiss, European",NaN,Cité-Centre,37
1357,ChIJEySIgNlljEcRgr_U0vdK05Q,Molokai Fusion Poke Bar,4.0,4.3,46.202615,6.155539,Hawaiian,NaN,Cité-Centre,37

In [109]:
df_rest_total[df_rest_total['district']==rest_district].nlargest(1,'total_restaurants','all')

       district  district_cluster  total_restaurants
34  Cité-Centre                36                 89

In [110]:
df_rest_total[df_rest_total['district']==rest_district].nsmallest(1,'total_restaurants','all')

       district  district_cluster  total_restaurants
35  Cité-Centre                37                 47

In [118]:
# Scenario 3, district selected but no restaurant type
rest_district='Saint-Jean Charmilles'
df_filtered = filter_data(df, rest_category=rest_category)
display(df_rest_total[df_rest_total['district']==rest_district].nlargest(2,'total_restaurants','all'))
display(df_rest_total[df_rest_total['district']==rest_district].nsmallest(2,'total_restaurants','all'))

                district  district_cluster  total_restaurants
1  Saint-Jean Charmilles                 2                 31
4  Saint-Jean Charmilles                 5                 19

                district  district_cluster  total_restaurants
2  Saint-Jean Charmilles                 3                  7
0  Saint-Jean Charmilles                 1                 17

In [114]:
# Scenario 4, both district selected and restaurant type selected
rest_district='Cité-Centre'
rest_category='Italian'
df_filtered = filter_data(df, rest_district=rest_district, rest_category=rest_category)
df_filtered

,place_id,name,price_level_combined,combined_rating,geometry.location.lat,geometry.location.lng,combined_main_category,sub_category,district,district_cluster
442,ChIJ_Z92DtZkjEcRbzaZpRo6doE,Kytaly,3.0,4.1,46.203176,6.139846,"Italian, Pizza",NaN,Cité-Centre,38
443,ChIJV34oE9ZkjEcR_Ho666yBXT4,Brasserie Da Matteo,4.0,3.7,46.203404,6.139570,"Italian, European",NaN,Cité-Centre,38
496,ChIJ7zcA_t56jEcRCeqYGjseDXM,Les Trois Verres,3.0,4.5,46.201219,6.140649,Italian,NaN,Cité-Centre,38
497,ChIJ945BeipljEcRZMzaq5bGXm0,Carosello,3.0,3.9,46.200719,6.140907,"Italian, Pizza",NaN,Cité-Centre,38
504,ChIJLaZqyFZljEcRlR8V2zLyA68,Ristorante TEATRO Cucina Italiana,4.0,4.7,46.202200,6.140466,Italian,NaN,Cité-Centre,38
511,ChIJM0ewGdZkjEcR6SD5vVqZq9w,Pasta & Vino,3.0,4.2,46.203682,6.140406,Italian,NaN,Cité-Centre,38
579,ChIJ75ji2CpljEcRyO3xTEmw12E,Restaurant Boccaccio,3.0,3.1,46.198625,6.142523,"Italian, European",NaN,Cité-Centre,38
583,ChIJyW_KVSpljEcRXktACj_8Qr4,Le Dorian,3.0,3.8,46.200251,6.142742,"Italian, French, European",NaN,Cité-Centre,38
736,ChIJ1Z4fcSlljEcRsXuyiXg8cDQ,la Finestra Restaurant,4.0,4.6,46.203176,6.144164,Italian,NaN,Cité-Centre,36
737,ChIJj_0tbilljEcRB_TplgYPDK8,Le Karne Genève,3.0,4.2,46.203158,6.144385,"Italian, European, Pizza",NaN,Cité-Centre,36
800,ChIJBTQhYSlljEcR-b4ePdh5Moc,La Cantinella,3.0,4.4,46.202586,6.144721,"Pizza, Italian",NaN,Cité-Centre,36
801,ChIJ0YlCYClljEcRf4WZlc2ypYo,Osteria della Bottega,3.0,4.3,46.202466,6.144827,Italian,NaN,Cité-Centre,36
883,ChIJ29kiCSxljEcR8gOniUAofwk,La Barca,NaN,NaN,46.201494,6.146379,"Pizza, Italian",NaN,Cité-Centre,36
885,ChIJz8BcWylljEcRAIIOdY-1kxI,La Boursière,3.0,4.3,46.202871,6.145394,"Italian, Pizza, European",NaN,Cité-Centre,36
886,ChIJU4_zRClljEcRjRPSDdO0Xho,La Romantica,3.0,4.0,46.202975,6.145487,Italian,NaN,Cité-Centre,36
971,ChIJLa1YLOBljEcRHBjC6NhFjT4,ByLÙ by Luigia,3.0,3.7,46.202866,6.145922,"Italian, Pizza",NaN,Cité-Centre,36
1045,ChIJTx5KGSxljEcRvGuKESLfj4Q,La Favola,4.0,4.2,46.201772,6.147374,Italian,NaN,Cité-Centre,39
1046,ChIJf2sL5ipuqkERXWkCyYBQXp0,Au Petit Comestible,2.0,4.8,46.202015,6.147761,Italian,NaN,Cité-Centre,39
1048,ChIJwTUrj5lljEcR7Evot0B-uf8,La cittadella,4.0,4.7,46.202000,6.147757,Italian,NaN,Cité-Centre,39
1119,ChIJnwlm7S5ljEcR8rnKUqutlsg,Fifty-Fifty,3.0,4.6,46.203453,6.148573,"Italian, European",NaN,Cité-Centre,39
1126,ChIJewhu_S5ljEcRRrnrO7GYSsM,Restaurant Le Lacustre,3.0,3.6,46.204507,6.148923,Italian,NaN,Cité-Centre,39
1180,ChIJxTG_LaVljEcRhSNHfEFuFaM,Restaurant Café Le Radar de pOche,2.0,4.6,46.200173,6.149636,"Italian, European",NaN,Cité-Centre,39
1183,ChIJAfDMti1ljEcR7wXfX98vfkk,Restaurant MONNA ISA,4.0,4.1,46.200662,6.149153,"Italian, European",NaN,Cité-Centre,39
1188,ChIJd6ZfvS1ljEcRB1JqVGZh-YI,Dianamar Sa,3.0,4.0,46.200351,6.149801,"Italian, European",NaN,Cité-Centre,39
1190,ChIJAezhxC1ljEcReHJ0ioQPWv8,Pasta People (ex Spaghetti Factory),3.0,4.2,46.201503,6.149751,Italian,NaN,Cité-Centre,39
1192,ChIJLSQt2y1ljEcRwK8lbqcA4JE,Le Flore,3.0,3.7,46.201495,6.149811,Italian,NaN,Cité-Centre,39
1270,ChIJ7R9nEy5ljEcRldecAXBMHRQ,Restaurant Ariston - Rues basses Genève,3.0,4.3,46.202971,6.150670,"Italian, French, European",NaN,Cité-Centre,39
1284,ChIJaSrMJi5ljEcR5tdWm6GVxAQ,Gusto,4.0,4.0,46.203474,6.151713,Italian,NaN,Cité-Centre,39
1302,ChIJLzGDizFljEcRXfMnh0e_c04,Roberto,4.0,4.1,46.202225,6.153367,Italian,NaN,Cité-Centre,37
1322,ChIJO0yIyzNljEcRaBC1sNvpz8I,L.orangerie,3.0,4.4,46.200951,6.154749,Italian,NaN,Cité-Centre,37
1336,ChIJhW5aU25ljEcRh_4gdMR6FjY,Piacere,NaN,NaN,46.203652,6.155007,Italian,NaN,Cité-Centre,37
1339,ChIJm-zLgjNljEcRvsG6ftvZ84w,Luigia,3.0,4.1,46.199324,6.156174,"Italian, Pizza",NaN,Cité-Centre,37
1345,ChIJe_HevzNljEcRbiVBC43V2x4,Pizza Leggera Restaurant & Pizzeria,3.0,4.1,46.200524,6.155610,"Pizza, Italian",NaN,Cité-Centre,37

In [115]:
df_tmp2 = df_filtered.groupby(['district','district_cluster'])[['place_id']]\
                .count()\
                .rename(columns={'place_id':f'{rest_category.lower()}_restaurants'})\
                .sort_values(by=f'{rest_category.lower()}_restaurants')\
                .reset_index()
df_tmp2

      district  district_cluster  italian_restaurants
0  Cité-Centre                37                    5
1  Cité-Centre                36                    8
2  Cité-Centre                38                    8
3  Cité-Centre                39                   12

In [117]:
df_merged2 = pd.DataFrame.merge(df_rest_total[df_rest_total['district']==rest_district], df_tmp1.drop(columns=['district']), on='district_cluster', how='left').fillna(0)
df_merged2

      district  district_cluster  total_restaurants  italian_restaurants
0  Cité-Centre                36                 89                    8
1  Cité-Centre                37                 47                    5
2  Cité-Centre                38                 55                    8
3  Cité-Centre                39                 86                   12

In [130]:
display(df_merged2.nlargest(1,[f'{rest_category.lower()}_restaurants','total_restaurants'], 'all'))
display(df_merged2.nsmallest(1,[f'{rest_category.lower()}_restaurants','total_restaurants'], 'all'))

      district  district_cluster  total_restaurants  italian_restaurants
3  Cité-Centre                39                 86                   12

      district  district_cluster  total_restaurants  italian_restaurants
1  Cité-Centre                37                 47                    5

Main Page

- There xx is rest in GVA
    - Most common xx rest, followed by yy
    - Least common one xx rest, followed by yy

- Most restaurants are in aa district followed by bb
- Least restaurants are in cc followed by

When you select 
District Page
   - There xx is rest in GVA
   - Most common xx rest, followed by yy
   - Least common one xx rest, followed by yy
    
   - Most densed area xx
   - Least densed area yy
   
Should be similar when you select restaurant

# Clean-up

In [143]:
def filter_data(df, rest_district="All", rest_category="All"):
    """
    Filters main dataframe based on district or restaurant selection
    Returns a filtered dataframe
    """
    if rest_district == 'All' and rest_category == 'All':
        return df
    
    elif rest_district == 'All':
        return df[df['combined_main_category'].str.contains(rest_category)]
    
    elif rest_category == 'All':
        return df[df['district'] == rest_district]
    
    else:
        return df[(df['district'] == rest_district) & (df['combined_main_category'].str.contains(rest_category))]

In [135]:
# dataframe contains total number of restaurants per district and district cluster
df_total_restaurants = df.groupby(['district','district_cluster'])[['place_id']]\
    .count()\
    .rename(columns={'place_id':'total_restaurants'})\
    .sort_values(by='district_cluster')\
    .reset_index()
df_total_restaurants

                   district  district_cluster  total_restaurants
0     Saint-Jean Charmilles                 1                 17
1     Saint-Jean Charmilles                 2                 31
2     Saint-Jean Charmilles                 3                  7
3     Saint-Jean Charmilles                 4                 18
4     Saint-Jean Charmilles                 5                 19
5           Bâtie - Acacias                 6                 33
6           Bâtie - Acacias                 7                 15
7   Servette Petit-Saconnex                 9                 17
8   Servette Petit-Saconnex                10                 13
9   Servette Petit-Saconnex                11                 27
10   Jonction - Plainpalais                12                 53
11   Jonction - Plainpalais                13                 52
12   Jonction - Plainpalais                14                 51
13   Jonction - Plainpalais                15                 44
14         Eaux-Vives - Lac                16                 19
15         Eaux-Vives - Lac                17                 69
16         Eaux-Vives - Lac                18                 20
17         Eaux-Vives - Lac                19                 40
18         Eaux-Vives - Lac                20                 40
19    Grottes Saint-Gervais                21                 74
20    Grottes Saint-Gervais                22                 29
21    Grottes Saint-Gervais                23                 64
22    Grottes Saint-Gervais                24                 40
23    Grottes Saint-Gervais                25                 45
24          Pâquis Sécheron                26                 77
25          Pâquis Sécheron                27                 61
26          Pâquis Sécheron                28                 98
27          Pâquis Sécheron                29                 16
28          Pâquis Sécheron                30                  8
29   La Cluse - Philosophes                31                 29
30   La Cluse - Philosophes                32                 29
31   La Cluse - Philosophes                33                 31
32   La Cluse - Philosophes                34                 31
33   La Cluse - Philosophes                35                 19
34              Cité-Centre                36                 89
35              Cité-Centre                37                 47
36              Cité-Centre                38                 55
37              Cité-Centre                39                 86
38                  Champel                40                 19
39                  Champel                41                  8
40                  Champel                42                 24
41                  Champel                43                  4

In [152]:
# coordinates for district clusters
df_cluster_centers = pd.read_csv('../data/data_cluster_centers.csv').rename(columns={'district_area':'district_cluster'})
df_cluster_centers

    district_cluster  cluster_center_lat  cluster_center_lng
0                  1           46.212100            6.131209
1                  2           46.207155            6.123776
2                  3           46.206174            6.115011
3                  4           46.205909            6.129978
4                  5           46.213205            6.124719
5                  6           46.190964            6.137877
6                  7           46.190460            6.130733
7                  8           46.199709            6.122375
8                  9           46.222885            6.127898
9                 10           46.219508            6.137469
10                11           46.214862            6.131804
11                12           46.202012            6.137967
12                13           46.200854            6.130934
13                14           46.199478            6.134993
14                15           46.196314            6.139261
15                16           46.201911            6.167926
16                17           46.203589            6.157793
17                18           46.205463            6.161707
18                19           46.202022            6.161000
19                20           46.201036            6.157099
20                21           46.209640            6.143661
21                22           46.208080            6.134816
22                23           46.206649            6.141928
23                24           46.207407            6.146328
24                25           46.210000            6.138562
25                26           46.210767            6.149114
26                27           46.214538            6.148029
27                28           46.211399            6.145623
28                29           46.222158            6.148319
29                30           46.221889            6.140794
30                31           46.194252            6.142257
31                32           46.190103            6.143483
32                33           46.192377            6.144849
33                34           46.196429            6.143106
34                35           46.195281            6.147212
35                36           46.203232            6.145410
36                37           46.201271            6.154714
37                38           46.201183            6.141425
38                39           46.202112            6.149501
39                40           46.196217            6.162710
40                41           46.190254            6.147210
41                42           46.194705            6.154333
42                43           46.186542            6.157609

In [136]:
rest_district='All'
rest_category='All'

In [148]:
filter_data(df, rest_district, rest_category)

,place_id,name,price_level_combined,combined_rating,geometry.location.lat,geometry.location.lng,combined_main_category,sub_category,district,district_cluster
0,ChIJd6kh67ZkjEcRC1IQourQOyo,Restaurant La Tentation,3.0,4.1,46.205232,6.114945,"European, Swiss",NaN,Saint-Jean Charmilles,3
1,ChIJX68uubZkjEcRKKxpZ7OrgqU,Café Restaurant Palma,4.0,3.7,46.204931,6.114021,General / Restaurant,NaN,Saint-Jean Charmilles,3
2,ChIJPcYsG_BljEcR4kTFqBJJoK4,Le Versailles,3.0,3.9,46.205752,6.114763,"Italian, French, European",NaN,Saint-Jean Charmilles,3
3,ChIJV8uySFxljEcRn7XpIO3zZX0,Restaurant Les Jardins du Rhône,NaN,NaN,46.205248,6.115503,General / Restaurant,NaN,Saint-Jean Charmilles,3
4,ChIJW8zU8rZkjEcR_Ke8t7c7hVc,Canteen De La Residence Gardens Du Rhône,4.0,5.0,46.205387,6.115347,General / Restaurant,NaN,Saint-Jean Charmilles,3
...,...,...,...,...,...,...,...,...,...,...
1564,ChIJtW8VekZljEcRHMTm4W0SQoo,Hôtel du Parc des Eaux-Vives,4.0,4.4,46.207746,6.169275,General / Restaurant,NaN,Eaux-Vives - Lac,16
1565,ChIJ8xcfO5JljEcRMsNfQ7YjlqM,La Terrasse du Parc,4.0,3.0,46.208511,6.169342,European,NaN,Eaux-Vives - Lac,16
1566,ChIJhxG2srN6jEcRUls_UY7b5Io,Le B d'Armand,3.0,4.0,46.192811,6.169873,General / Fast food / Snacks / Take Away,Sandwich / Snacks,Champel,40
1567,ChIJHSzAC1JljEcRjr7q009gZe4,Road Runner,3.0,4.1,46.199892,6.174117,American,NaN,Eaux-Vives - Lac,16
1568,ChIJL68o71FljEcRvXVtz35xl2A,Restaurant Les Tulipiers,2.0,4.3,46.201690,6.174614,General / Restaurant,NaN,Eaux-Vives - Lac,16

In [208]:
def find_locations(df, rest_district="All", rest_category="All"):
    """
    Filters main dataframe based on district or restaurant selection
    Returns best and worst locations
    """
    if rest_district == 'All' and rest_category == 'All':
        
        df_filtered = df
        
        best_locations = df_filtered.groupby(['district','district_cluster'])[['place_id']].count()\
            .rename(columns={'place_id':'total_restaurants'})\
            .nsmallest(10, 'total_restaurants', 'all')\
            .reset_index()\
            .merge(df_cluster_centers, how='left', on='district_cluster')
        
        worst_locations = df_filtered.groupby(['district','district_cluster'])[['place_id']].count()\
            .rename(columns={'place_id':'total_restaurants'})\
            .nlargest(10, 'total_restaurants', 'all')\
            .reset_index()\
            .merge(df_cluster_centers, how='left', on='district_cluster')
        
    elif rest_district == 'All':
        df_filtered = df[df['combined_main_category'].str.contains(rest_category)]  

        best_locations = df_filtered.groupby('district_cluster')[['place_id']].count()\
            .rename(columns={'place_id':f'{rest_category.lower()}_restaurants'})\
            .reset_index()\
            .merge(df_total_restaurants, how='right', on='district_cluster').fillna(0)\
            .nsmallest(10, [f'{rest_category.lower()}_restaurants','total_restaurants'], 'all')\
            .merge(df_cluster_centers, how='left', on='district_cluster')
        
        worst_locations = df_filtered.groupby('district_cluster')[['place_id']].count()\
            .rename(columns={'place_id':f'{rest_category.lower()}_restaurants'})\
            .reset_index()\
            .merge(df_total_restaurants, how='right', on='district_cluster').fillna(0)\
            .nlargest(10, [f'{rest_category.lower()}_restaurants','total_restaurants'], 'all')\
            .merge(df_cluster_centers, how='left', on='district_cluster')

    elif rest_category == 'All':
        df_filtered = df[df['district'] == rest_district]

        best_locations = df_filtered.groupby(['district','district_cluster'])[['place_id']].count()\
            .rename(columns={'place_id':'total_restaurants'})\
            .nsmallest(1, 'total_restaurants', 'all')\
            .reset_index()\
            .merge(df_cluster_centers, how='left', on='district_cluster')
        
        worst_locations = df_filtered.groupby(['district','district_cluster'])[['place_id']].count()\
            .rename(columns={'place_id':'total_restaurants'})\
            .nlargest(1, 'total_restaurants', 'all')\
            .reset_index()\
            .merge(df_cluster_centers, how='left', on='district_cluster')    

    else:
        df_filtered =  df[(df['district'] == rest_district) & (df['combined_main_category'].str.contains(rest_category))]

        best_locations = df_filtered.groupby('district_cluster')[['place_id']].count()\
            .rename(columns={'place_id':f'{rest_category.lower()}_restaurants'})\
            .reset_index()\
            .merge(df_total_restaurants[df_total_restaurants['district']==rest_district], how='right', on='district_cluster').fillna(0)\
            .nsmallest(1, [f'{rest_category.lower()}_restaurants','total_restaurants'], 'all')\
            .merge(df_cluster_centers, how='left', on='district_cluster')
        
        worst_locations = df_filtered.groupby('district_cluster')[['place_id']].count()\
            .rename(columns={'place_id':f'{rest_category.lower()}_restaurants'})\
            .reset_index()\
            .merge(df_total_restaurants[df_total_restaurants['district']==rest_district], how='right', on='district_cluster').fillna(0)\
            .nlargest(1, [f'{rest_category.lower()}_restaurants','total_restaurants'], 'all')\
            .merge(df_cluster_centers, how='left', on='district_cluster')        

    return best_locations, worst_locations

In [202]:
# Test 1 - All Districts All Restaurants
display(find_locations(df, rest_district="All", rest_category="All")[0])
display(find_locations(df, rest_district="All", rest_category="All")[1])

,district,district_cluster,total_restaurants,cluster_center_lat,cluster_center_lng
0,Champel,43,4,46.186542,6.157609
1,Saint-Jean Charmilles,3,7,46.206174,6.115011
2,Champel,41,8,46.190254,6.147210
3,Pâquis Sécheron,30,8,46.221889,6.140794
4,Servette Petit-Saconnex,10,13,46.219508,6.137469
5,Bâtie - Acacias,7,15,46.190460,6.130733
6,Pâquis Sécheron,29,16,46.222158,6.148319
7,Saint-Jean Charmilles,1,17,46.212100,6.131209
8,Servette Petit-Saconnex,9,17,46.222885,6.127898
9,Saint-Jean Charmilles,4,18,46.205909,6.129978

,district,district_cluster,total_restaurants,cluster_center_lat,cluster_center_lng
0,Pâquis Sécheron,28,98,46.211399,6.145623
1,Cité-Centre,36,89,46.203232,6.145410
2,Cité-Centre,39,86,46.202112,6.149501
3,Pâquis Sécheron,26,77,46.210767,6.149114
4,Grottes Saint-Gervais,21,74,46.209640,6.143661
5,Eaux-Vives - Lac,17,69,46.203589,6.157793
6,Grottes Saint-Gervais,23,64,46.206649,6.141928
7,Pâquis Sécheron,27,61,46.214538,6.148029
8,Cité-Centre,38,55,46.201183,6.141425
9,Jonction - Plainpalais,12,53,46.202012,6.137967

In [205]:
# Test 2 - All Districts Mexican Restaurants
display(find_locations(df, rest_district="All", rest_category="Mexican")[0])
display(find_locations(df, rest_district="All", rest_category="Mexican")[1])

,district_cluster,mexican_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,43,0.0,Champel,4,46.186542,6.157609
1,3,0.0,Saint-Jean Charmilles,7,46.206174,6.115011
2,30,0.0,Pâquis Sécheron,8,46.221889,6.140794
3,41,0.0,Champel,8,46.190254,6.147210
4,10,0.0,Servette Petit-Saconnex,13,46.219508,6.137469
5,7,0.0,Bâtie - Acacias,15,46.190460,6.130733
6,29,0.0,Pâquis Sécheron,16,46.222158,6.148319
7,9,0.0,Servette Petit-Saconnex,17,46.222885,6.127898
8,4,0.0,Saint-Jean Charmilles,18,46.205909,6.129978
9,5,0.0,Saint-Jean Charmilles,19,46.213205,6.124719
10,16,0.0,Eaux-Vives - Lac,19,46.201911,6.167926
11,35,0.0,La Cluse - Philosophes,19,46.195281,6.147212
12,40,0.0,Champel,19,46.196217,6.162710

,district_cluster,mexican_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,28,3.0,Pâquis Sécheron,98,46.211399,6.145623
1,22,3.0,Grottes Saint-Gervais,29,46.208080,6.134816
2,21,2.0,Grottes Saint-Gervais,74,46.209640,6.143661
3,13,2.0,Jonction - Plainpalais,52,46.200854,6.130934
4,15,2.0,Jonction - Plainpalais,44,46.196314,6.139261
5,33,2.0,La Cluse - Philosophes,31,46.192377,6.144849
6,27,1.0,Pâquis Sécheron,61,46.214538,6.148029
7,38,1.0,Cité-Centre,55,46.201183,6.141425
8,12,1.0,Jonction - Plainpalais,53,46.202012,6.137967
9,25,1.0,Grottes Saint-Gervais,45,46.210000,6.138562

In [206]:
# Test 2 - All Districts Italian Restaurants
display(find_locations(df, rest_district="All", rest_category="Italian")[0])
display(find_locations(df, rest_district="All", rest_category="Italian")[1])

,district_cluster,italian_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,43,0.0,Champel,4,46.186542,6.157609
1,29,0.0,Pâquis Sécheron,16,46.222158,6.148319
2,3,1.0,Saint-Jean Charmilles,7,46.206174,6.115011
3,30,1.0,Pâquis Sécheron,8,46.221889,6.140794
4,41,1.0,Champel,8,46.190254,6.147210
5,7,1.0,Bâtie - Acacias,15,46.190460,6.130733
6,40,1.0,Champel,19,46.196217,6.162710
7,34,1.0,La Cluse - Philosophes,31,46.196429,6.143106
8,1,2.0,Saint-Jean Charmilles,17,46.212100,6.131209
9,9,2.0,Servette Petit-Saconnex,17,46.222885,6.127898

,district_cluster,italian_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,39,12.0,Cité-Centre,86,46.202112,6.149501
1,17,10.0,Eaux-Vives - Lac,69,46.203589,6.157793
2,36,8.0,Cité-Centre,89,46.203232,6.145410
3,27,8.0,Pâquis Sécheron,61,46.214538,6.148029
4,38,8.0,Cité-Centre,55,46.201183,6.141425
5,21,7.0,Grottes Saint-Gervais,74,46.209640,6.143661
6,12,7.0,Jonction - Plainpalais,53,46.202012,6.137967
7,13,6.0,Jonction - Plainpalais,52,46.200854,6.130934
8,2,6.0,Saint-Jean Charmilles,31,46.207155,6.123776
9,26,5.0,Pâquis Sécheron,77,46.210767,6.149114

In [209]:
# Scenario 3, district selected but no restaurant type
display(find_locations(df, rest_district='Cité-Centre', rest_category="All")[0])
display(find_locations(df, rest_district='Cité-Centre', rest_category="All")[1])

,district,district_cluster,total_restaurants,cluster_center_lat,cluster_center_lng
0,Cité-Centre,37,47,46.201271,6.154714

,district,district_cluster,total_restaurants,cluster_center_lat,cluster_center_lng
0,Cité-Centre,36,89,46.203232,6.14541

In [210]:
# Scenario 3, district selected but no restaurant type
display(find_locations(df, rest_district='Saint-Jean Charmilles', rest_category="All")[0])
display(find_locations(df, rest_district='Saint-Jean Charmilles', rest_category="All")[1])

,district,district_cluster,total_restaurants,cluster_center_lat,cluster_center_lng
0,Saint-Jean Charmilles,3,7,46.206174,6.115011

,district,district_cluster,total_restaurants,cluster_center_lat,cluster_center_lng
0,Saint-Jean Charmilles,2,31,46.207155,6.123776

In [211]:
# Scenario 4, district selected and restaurant type selected
display(find_locations(df, rest_district='Cité-Centre', rest_category="Italian")[0])
display(find_locations(df, rest_district='Cité-Centre', rest_category="Italian")[1])

,district_cluster,italian_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,37,5,Cité-Centre,47,46.201271,6.154714

,district_cluster,italian_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,39,12,Cité-Centre,86,46.202112,6.149501

In [212]:
# Scenario 4, district selected and restaurant type selected
display(find_locations(df, rest_district='Saint-Jean Charmilles', rest_category="Italian")[0])
display(find_locations(df, rest_district='Saint-Jean Charmilles', rest_category="Italian")[1])

,district_cluster,italian_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,3,1,Saint-Jean Charmilles,7,46.206174,6.115011

,district_cluster,italian_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,2,6,Saint-Jean Charmilles,31,46.207155,6.123776

In [218]:
df.groupby(['district','district_cluster'])['place_id'].count()

district                 district_cluster
Bâtie - Acacias          6                   33
                         7                   15
Champel                  40                  19
                         41                   8
                         42                  24
                         43                   4
Cité-Centre              36                  89
                         37                  47
                         38                  55
                         39                  86
Eaux-Vives - Lac         16                  19
                         17                  69
                         18                  20
                         19                  40
                         20                  40
Grottes Saint-Gervais    21                  74
                         22                  29
                         23                  64
                         24                  40
                         25                  45
Jonction - Plainpalais   12                  53
                         13                  52
                         14                  51
                         15                  44
La Cluse - Philosophes   31                  29
                         32                  29
                         33                  31
                         34                  31
                         35                  19
Pâquis Sécheron          26                  77
                         27                  61
                         28                  98
                         29                  16
                         30                   8
Saint-Jean Charmilles    1                   17
                         2                   31
                         3                    7
                         4                   18
                         5                   19
Servette Petit-Saconnex  9                   17
                         10                  13
                         11                  27
Name: place_id, dtype: int64

In [220]:
find_locations(df, rest_district, rest_category)[0]

,district_cluster,italian_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,43,0.0,Champel,4,46.186542,6.157609

In [240]:
df['district'].unique().tolist()

['Saint-Jean Charmilles',
 'Bâtie - Acacias',
 'Servette Petit-Saconnex',
 'Jonction - Plainpalais',
 'Eaux-Vives - Lac',
 'Grottes Saint-Gervais',
 'Pâquis Sécheron',
 'La Cluse - Philosophes',
 'Cité-Centre',
 'Champel']

In [243]:
find_locations(df, rest_district='All', rest_category='Lebanese')[1]

,district_cluster,lebanese_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,28,7.0,Pâquis Sécheron,98,46.211399,6.145623
1,17,5.0,Eaux-Vives - Lac,69,46.203589,6.157793
2,26,4.0,Pâquis Sécheron,77,46.210767,6.149114
3,21,2.0,Grottes Saint-Gervais,74,46.209640,6.143661
4,23,2.0,Grottes Saint-Gervais,64,46.206649,6.141928
5,27,2.0,Pâquis Sécheron,61,46.214538,6.148029
6,13,2.0,Jonction - Plainpalais,52,46.200854,6.130934
7,9,2.0,Servette Petit-Saconnex,17,46.222885,6.127898
8,39,1.0,Cité-Centre,86,46.202112,6.149501
9,38,1.0,Cité-Centre,55,46.201183,6.141425

In [244]:
find_locations(df, rest_district='All', rest_category='Lebanese')[0]

,district_cluster,lebanese_restaurants,district,total_restaurants,cluster_center_lat,cluster_center_lng
0,43,0.0,Champel,4,46.186542,6.157609
1,3,0.0,Saint-Jean Charmilles,7,46.206174,6.115011
2,30,0.0,Pâquis Sécheron,8,46.221889,6.140794
3,41,0.0,Champel,8,46.190254,6.147210
4,10,0.0,Servette Petit-Saconnex,13,46.219508,6.137469
5,7,0.0,Bâtie - Acacias,15,46.190460,6.130733
6,4,0.0,Saint-Jean Charmilles,18,46.205909,6.129978
7,16,0.0,Eaux-Vives - Lac,19,46.201911,6.167926
8,35,0.0,La Cluse - Philosophes,19,46.195281,6.147212
9,40,0.0,Champel,19,46.196217,6.162710

In [247]:
df.isnull().sum() / len(df)*100

place_id                   0.000000
name                       0.000000
price_level_combined      12.364563
combined_rating           12.492033
geometry.location.lat      0.000000
geometry.location.lng      0.000000
combined_main_category     0.000000
sub_category              80.305927
district                   0.000000
district_cluster           0.000000
dtype: float64