In [1]:
# required module import
import shapely.geometry as shg
import pandas as pd
import numpy as np
import geopandas as gpd

In [13]:
# reading GVA district shape data and converting it to lat / lng format
df_district_shp = gpd.read_file('../raw_data/VDG_QUARTIER_VILLE.shp')
display(df_district_shp)
df_district_geo = df_district_shp.to_crs(epsg=4326)
display(df_district_geo)

,NOM_QUARTI,SHAPE_AREA,SHAPE_LEN,geometry
0,Grottes Saint-Gervais,1.150991e+06,6140.098504,"POLYGON ((2500043.640 1118560.700, 2500053.560..."
1,Champel,2.973580e+06,8560.806130,"POLYGON ((2501971.870 1117304.280, 2502141.340..."
2,Pâquis Sécheron,2.222486e+06,9603.061056,"POLYGON ((2500209.450 1118410.180, 2500094.420..."
3,Plainpalais Jonction,1.431242e+06,6622.571344,"POLYGON ((2499699.560 1116581.070, 2499676.540..."
4,Eaux-Vives Cité,2.421590e+06,9253.853914,"POLYGON ((2502457.280 1117727.440, 2502453.360..."
5,Acacias Bâtie,1.393098e+06,7714.654151,"POLYGON ((2499109.920 1117071.040, 2499170.450..."
6,Servette Petit-Saconnex,2.225106e+06,6660.793422,"POLYGON ((2498982.570 1118873.840, 2498964.320..."
7,Saint-Jean Charmilles,2.088505e+06,6289.548052,"POLYGON ((2499154.020 1117999.810, 2499178.400..."

,NOM_QUARTI,SHAPE_AREA,SHAPE_LEN,geometry
0,Grottes Saint-Gervais,1.150991e+06,6140.098504,"POLYGON ((6.14340 46.21106, 6.14353 46.21100, ..."
1,Champel,2.973580e+06,8560.806130,"POLYGON ((6.16865 46.20004, 6.17084 46.20007, ..."
2,Pâquis Sécheron,2.222486e+06,9603.061056,"POLYGON ((6.14558 46.20973, 6.14407 46.21054, ..."
3,Plainpalais Jonction,1.431242e+06,6622.571344,"POLYGON ((6.13937 46.19320, 6.13906 46.19350, ..."
4,Eaux-Vives Cité,2.421590e+06,9253.853914,"POLYGON ((6.17484 46.20392, 6.17479 46.20387, ..."
5,Acacias Bâtie,1.393098e+06,7714.654151,"POLYGON ((6.13162 46.19752, 6.13242 46.19696, ..."
6,Servette Petit-Saconnex,2.225106e+06,6660.793422,"POLYGON ((6.12958 46.21371, 6.12935 46.21380, ..."
7,Saint-Jean Charmilles,2.088505e+06,6289.548052,"POLYGON ((6.13199 46.20588, 6.13231 46.20576, ..."

In [23]:
# reading lat / lng from df and converting it to numpy array
df_rest = pd.read_csv('../data/data_combined_v1.01.csv').drop(columns=["Unnamed: 0"])
df_rest.head()

,place_id,tripadvisor_id,fsq_id,name,business_status,types,price_level,ta_price_level,price_level_combined,rating,...,population_15_19,population_20_24,population_25_34,population_35_44,population_45_54,population_54_64,population_65+,resident_per_km2,brut_income_annual_per_person,cluster
0,ChIJd6kh67ZkjEcRC1IQourQOyo,7159041.0,4de685281f6e9d90c7f5325c,Restaurant La Tentation,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",2.0,2.0,3.0,4.2,...,1547,1937,5163,5549,4924,4290,5625,16282,109266,2
1,ChIJX68uubZkjEcRKKxpZ7OrgqU,13322506.0,NaN,Café Restaurant Palma,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,NaN,4.0,3.7,...,1547,1937,5163,5549,4924,4290,5625,16282,109266,2
2,ChIJPcYsG_BljEcR4kTFqBJJoK4,6720272.0,NaN,Le Versailles,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,2.0,3.0,3.9,...,1547,1937,5163,5549,4924,4290,5625,16282,109266,2
3,ChIJhb4e-Ep7jEcRY38kziIGZmE,NaN,NaN,Restaurant Divan,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",2.0,NaN,3.0,4.5,...,1956,2148,4721,5127,5017,3956,5342,7187,123472,2
4,ChIJV8uySFxljEcRn7XpIO3zZX0,NaN,NaN,Restaurant Les Jardins du Rhône,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,NaN,NaN,...,1547,1937,5163,5549,4924,4290,5625,16282,109266,2

# Initial Mapping

In [276]:
for idx_rest, row_rest in df_rest.iterrows():
    point = shg.Point(df_rest.loc[idx_rest,'geometry.location.lng'],\
                 df_rest.loc[idx_rest,'geometry.location.lat'])
    for idx_geo, row_geo in df_district_geo.iterrows():
        if point.within(df_district_geo.loc[idx_geo, 'geometry']):
            df_rest.loc[idx_rest, 'district'] = df_district_geo.loc[idx_geo, 'NOM_QUARTI']
            break

In [278]:
df_rest['district'].value_counts()

Eaux-Vives Cité            467
Plainpalais Jonction       339
Pâquis Sécheron            260
Grottes Saint-Gervais      252
Saint-Jean Charmilles       92
Servette Petit-Saconnex     57
Champel                     55
Acacias Bâtie               49
Name: district, dtype: int64

In [280]:
df_rest['district'].isnull().sum()

42

In [17]:
# Sample Check 1
pointx = shg.Point((6.1561736, 46.1993241)) # Luigia in Eaux-Vives area
print(pointx.within(df_district_geo['geometry'][3])) # Plainpalais area
print(pointx.within(df_district_geo['geometry'][4])) # Eaux-Vives area

False
True

In [18]:
# Sample Check 2
pointx = shg.Point((6.1361528, 46.1980208)) # Umamido in Plainpalais area
print(pointx.within(df_district_geo['geometry'][3])) # Plainpalais area
print(pointx.within(df_district_geo['geometry'][4])) # Eaux-Vives area

True
False

In [288]:
df_rest.columns

Index(['Unnamed: 0', 'place_id', 'tripadvisor_id', 'fsq_id', 'name',
       'business_status', 'types', 'price_level', 'ta_price_level',
       'price_level_combined', 'rating', 'user_ratings_total', 'ta_rating',
       'ta_user_ratings_total', 'combined_rating', 'geometry.location.lat',
       'geometry.location.lng', 'formatted_address', 'zip_code', 'city',
       'international_phone_number', 'website', 'google_category',
       'ta_4sq_cuisine1', 'ta_4sq_cuisine2', 'ta_4sq_cuisine3',
       'ta_4sq_cuisine4', 'ta_4sq_cuisine5', 'main_category_1',
       'main_category_2', 'main_category_3', 'main_category_4',
       'combined_main_category', 'sub_category', 'neighboorhood_area_km2',
       'resident_population_total', 'population_age_0_14', 'population_15_19',
       'population_20_24', 'population_25_34', 'population_35_44',
       'population_45_54', 'population_54_64', 'population_65+',
       'resident_per_km2', 'brut_income_annual_per_person', 'cluster',
       'district'],
      dtype='object')

In [300]:
# Final Processing
# Removal of Future Restaurants i.e. without restaurant category
df_rest = df_rest[(df_rest['combined_main_category'].notnull()) &\
                  (df_rest['district'].notnull())]\
                .drop(columns=["Unnamed: 0"])\
                .reset_index(drop=True)
df_rest

,place_id,tripadvisor_id,fsq_id,name,business_status,types,price_level,ta_price_level,price_level_combined,rating,...,population_20_24,population_25_34,population_35_44,population_45_54,population_54_64,population_65+,resident_per_km2,brut_income_annual_per_person,cluster,district
0,ChIJd6kh67ZkjEcRC1IQourQOyo,7159041.0,4de685281f6e9d90c7f5325c,Restaurant La Tentation,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",2.0,2.0,3.0,4.2,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
1,ChIJX68uubZkjEcRKKxpZ7OrgqU,13322506.0,NaN,Café Restaurant Palma,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,NaN,4.0,3.7,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
2,ChIJPcYsG_BljEcR4kTFqBJJoK4,6720272.0,NaN,Le Versailles,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,2.0,3.0,3.9,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
3,ChIJV8uySFxljEcRn7XpIO3zZX0,NaN,NaN,Restaurant Les Jardins du Rhône,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,NaN,NaN,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
4,ChIJW8zU8rZkjEcR_Ke8t7c7hVc,NaN,NaN,Canteen De La Residence Gardens Du Rhône,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,5.0,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564,ChIJtW8VekZljEcRHMTm4W0SQoo,23982683.0,NaN,Hôtel du Parc des Eaux-Vives,OPERATIONAL,"['restaurant', 'lodging', 'point_of_interest',...",3.0,NaN,4.0,4.4,...,996,3839,3699,3048,2638,3503,15694,132730,0,Eaux-Vives Cité
1565,ChIJ8xcfO5JljEcRMsNfQ7YjlqM,23357178.0,NaN,La Terrasse du Parc,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,3.0,4.0,3.0,...,996,3839,3699,3048,2638,3503,15694,132730,0,Eaux-Vives Cité
1566,ChIJhxG2srN6jEcRUls_UY7b5Io,6403958.0,5310fd59498eb11ab86b0443,Le B d'Armand,OPERATIONAL,"['bakery', 'cafe', 'restaurant', 'food', 'poin...",2.0,2.0,3.0,4.2,...,722,2175,2592,2309,1850,3109,13812,177681,0,Champel
1567,ChIJHSzAC1JljEcRjr7q009gZe4,784992.0,NaN,Road Runner,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",2.0,2.0,3.0,4.3,...,722,2175,2592,2309,1850,3109,13812,177681,0,Eaux-Vives Cité
1568,ChIJL68o71FljEcRvXVtz35xl2A,8370681.0,NaN,Restaurant Les Tulipiers,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",1.0,2.0,2.0,4.3,...,722,2175,2592,2309,1850,3109,13812,177681,0,Eaux-Vives Cité

In [301]:
df_rest.to_csv('../data/data_combined_v1.02.csv', encoding='utf-8-sig', index=False)

# District One Level More Detailed

In [15]:
df_district_shp_detailed = gpd.read_file('../raw_data/OCS_EMPLOI_VGE_SECTEUR.shp')[['NOM_SECTEU', 'geometry']]
display(df_district_shp_detailed)
df_district_detailed_geo = df_district_shp_detailed.to_crs(epsg=4326)
display(df_district_detailed_geo)

,NOM_SECTEU,geometry
0,Eaux-Vives - Lac,"POLYGON ((2502220.474 1117949.833, 2502220.628..."
1,St-Jean - Aïre,"POLYGON ((2497914.499 1117525.356, 2497913.738..."
2,Champel - Roseraie,"POLYGON ((2500846.076 1115553.549, 2500852.106..."
3,Charmilles - Châtelaine,"POLYGON ((2498355.073 1118149.561, 2498254.255..."
4,Jonction - Plainpalais,"POLYGON ((2499436.021 1116811.656, 2499263.654..."
5,Florissant - Malagnou,"POLYGON ((2501508.770 1116339.635, 2501493.720..."
6,Cité-Centre,"POLYGON ((2500139.001 1116989.796, 2500133.051..."
7,Sécheron - Prieuré,"POLYGON ((2500272.621 1118936.674, 2500264.487..."
8,Pâquis - Navigation,"POLYGON ((2500322.256 1118319.034, 2500209.448..."
9,Bouchet - Moillebeau,"POLYGON ((2499209.194 1119306.059, 2499139.839..."
10,Onu - Rigot,"POLYGON ((2499810.868 1119714.753, 2499794.209..."
11,Délices - Grottes,"POLYGON ((2499893.275 1119150.009, 2499898.830..."
12,Bâtie - Acacias,"POLYGON ((2499109.915 1117071.037, 2499170.445..."
13,Grand-Pré - Vermont,"POLYGON ((2499763.621 1119157.624, 2499764.866..."
14,St-Gervais - Chantepoulet,"POLYGON ((2500322.256 1118319.034, 2500473.995..."
15,La Cluse - Philosophes,"POLYGON ((2499886.681 1116005.538, 2499886.677..."

,NOM_SECTEU,geometry
0,Eaux-Vives - Lac,"POLYGON ((6.17173 46.20588, 6.17173 46.20588, ..."
1,St-Jean - Aïre,"POLYGON ((6.11604 46.20142, 6.11603 46.20143, ..."
2,Champel - Roseraie,"POLYGON ((6.15443 46.18413, 6.15450 46.18455, ..."
3,Charmilles - Châtelaine,"POLYGON ((6.12161 46.20711, 6.12030 46.20749, ..."
4,Jonction - Plainpalais,"POLYGON ((6.13590 46.19523, 6.13365 46.19628, ..."
5,Florissant - Malagnou,"POLYGON ((6.16285 46.19130, 6.16265 46.19143, ..."
6,Cité-Centre,"POLYGON ((6.14497 46.19694, 6.14489 46.19698, ..."
7,Sécheron - Prieuré,"POLYGON ((6.14629 46.21447, 6.14618 46.21453, ..."
8,Pâquis - Navigation,"POLYGON ((6.14706 46.20892, 6.14558 46.20973, ..."
9,Bouchet - Moillebeau,"POLYGON ((6.13243 46.21764, 6.13155 46.21689, ..."
10,Onu - Rigot,"POLYGON ((6.14014 46.22140, 6.13992 46.22149, ..."
11,Délices - Grottes,"POLYGON ((6.14132 46.21633, 6.14140 46.21639, ..."
12,Bâtie - Acacias,"POLYGON ((6.13162 46.19752, 6.13242 46.19696, ..."
13,Grand-Pré - Vermont,"POLYGON ((6.13964 46.21638, 6.13966 46.21638, ..."
14,St-Gervais - Chantepoulet,"POLYGON ((6.14706 46.20892, 6.14905 46.20788, ..."
15,La Cluse - Philosophes,"POLYGON ((6.14191 46.18805, 6.14191 46.18805, ..."

In [21]:
# Sample Check 1
pointx = shg.Point((6.1561736, 46.1993241)) # Luigia in Eaux-Vives area
print(pointx.within(df_district_detailed_geo['geometry'][4])) # Plainpalais area
print(pointx.within(df_district_detailed_geo['geometry'][6])) # Cite area

# Sample Check 2
pointx = shg.Point((6.1361528, 46.1980208)) # Umamido in Plainpalais area
print(pointx.within(df_district_detailed_geo['geometry'][4])) # Plainpalais area
print(pointx.within(df_district_detailed_geo['geometry'][6])) # Cite area

False
True
True
False

In [26]:
for idx_rest, row_rest in df_rest.iterrows():
    point = shg.Point(df_rest.loc[idx_rest,'geometry.location.lng'],\
                 df_rest.loc[idx_rest,'geometry.location.lat'])
    for idx_geo, row_geo in df_district_detailed_geo.iterrows():
        if point.within(df_district_detailed_geo.loc[idx_geo, 'geometry']):
            df_rest.loc[idx_rest, 'district'] = df_district_detailed_geo.loc[idx_geo, 'NOM_SECTEU']
            break

In [27]:
df_rest['district'].value_counts()

Cité-Centre                  279
Pâquis - Navigation          203
Jonction - Plainpalais       200
Eaux-Vives - Lac             188
St-Gervais - Chantepoulet    175
La Cluse - Philosophes       139
Délices - Grottes             77
Charmilles - Châtelaine       63
Bâtie - Acacias               49
Sécheron - Prieuré            49
Champel - Roseraie            31
St-Jean - Aïre                29
Grand-Pré - Vermont           29
Bouchet - Moillebeau          28
Florissant - Malagnou         24
Onu - Rigot                    8
Name: district, dtype: int64

In [32]:
df_rest['district'][(df_rest['district'] == 'Pâquis - Navigation') |\
                    (df_rest['district'] == 'Sécheron - Prieuré') |\
                    (df_rest['district'] == 'Onu - Rigot')] = 'Pâquis Sécheron'

/var/folders/rh/zwlpfnnn73lgx2bmpgbl63480000gn/T/ipykernel_9723/2716677210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rest['district'][(df_rest['district'] == 'Pâquis - Navigation') |\

In [37]:
df_rest['district'][(df_rest['district'] == 'St-Gervais - Chantepoulet') |\
                    (df_rest['district'] == 'Délices - Grottes')] = 'Grottes Saint-Gervais'

/var/folders/rh/zwlpfnnn73lgx2bmpgbl63480000gn/T/ipykernel_9723/4011203727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rest['district'][(df_rest['district'] == 'St-Gervais - Chantepoulet') |\

In [41]:
df_rest['district'][(df_rest['district'] == 'Charmilles - Châtelaine') |\
                    (df_rest['district'] == 'St-Jean - Aïre')] = 'Saint-Jean Charmilles'

/var/folders/rh/zwlpfnnn73lgx2bmpgbl63480000gn/T/ipykernel_9723/2986875325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rest['district'][(df_rest['district'] == 'Charmilles - Châtelaine') |\

In [43]:
df_rest['district'][(df_rest['district'] == 'Champel - Roseraie') |\
                    (df_rest['district'] == 'Florissant - Malagnou')] = 'Champel'

/var/folders/rh/zwlpfnnn73lgx2bmpgbl63480000gn/T/ipykernel_9723/3995407577.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rest['district'][(df_rest['district'] == 'Champel - Roseraie') |\

In [45]:
df_rest['district'][(df_rest['district'] == 'Grand-Pré - Vermont') |\
                    (df_rest['district'] == 'Bouchet - Moillebeau')] = 'Servette Petit-Saconnex'

/var/folders/rh/zwlpfnnn73lgx2bmpgbl63480000gn/T/ipykernel_9723/2440847650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rest['district'][(df_rest['district'] == 'Grand-Pré - Vermont') |\

In [46]:
df_rest['district'].value_counts()

Cité-Centre                279
Pâquis Sécheron            260
Grottes Saint-Gervais      252
Jonction - Plainpalais     200
Eaux-Vives - Lac           188
La Cluse - Philosophes     139
Saint-Jean Charmilles       92
Servette Petit-Saconnex     57
Champel                     55
Bâtie - Acacias             49
Name: district, dtype: int64

In [47]:
# Final Processing
# Removal of Future Restaurants i.e. without restaurant category
df_rest = df_rest[(df_rest['combined_main_category'].notnull()) &\
                  (df_rest['district'].notnull())]\
                .reset_index(drop=True)
df_rest

,place_id,tripadvisor_id,fsq_id,name,business_status,types,price_level,ta_price_level,price_level_combined,rating,...,population_20_24,population_25_34,population_35_44,population_45_54,population_54_64,population_65+,resident_per_km2,brut_income_annual_per_person,cluster,district
0,ChIJd6kh67ZkjEcRC1IQourQOyo,7159041.0,4de685281f6e9d90c7f5325c,Restaurant La Tentation,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",2.0,2.0,3.0,4.2,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
1,ChIJX68uubZkjEcRKKxpZ7OrgqU,13322506.0,NaN,Café Restaurant Palma,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,NaN,4.0,3.7,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
2,ChIJPcYsG_BljEcR4kTFqBJJoK4,6720272.0,NaN,Le Versailles,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,2.0,3.0,3.9,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
3,ChIJV8uySFxljEcRn7XpIO3zZX0,NaN,NaN,Restaurant Les Jardins du Rhône,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,NaN,NaN,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
4,ChIJW8zU8rZkjEcR_Ke8t7c7hVc,NaN,NaN,Canteen De La Residence Gardens Du Rhône,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,5.0,...,1937,5163,5549,4924,4290,5625,16282,109266,2,Saint-Jean Charmilles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564,ChIJtW8VekZljEcRHMTm4W0SQoo,23982683.0,NaN,Hôtel du Parc des Eaux-Vives,OPERATIONAL,"['restaurant', 'lodging', 'point_of_interest',...",3.0,NaN,4.0,4.4,...,996,3839,3699,3048,2638,3503,15694,132730,0,Eaux-Vives - Lac
1565,ChIJ8xcfO5JljEcRMsNfQ7YjlqM,23357178.0,NaN,La Terrasse du Parc,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,3.0,4.0,3.0,...,996,3839,3699,3048,2638,3503,15694,132730,0,Eaux-Vives - Lac
1566,ChIJhxG2srN6jEcRUls_UY7b5Io,6403958.0,5310fd59498eb11ab86b0443,Le B d'Armand,OPERATIONAL,"['bakery', 'cafe', 'restaurant', 'food', 'poin...",2.0,2.0,3.0,4.2,...,722,2175,2592,2309,1850,3109,13812,177681,0,Champel
1567,ChIJHSzAC1JljEcRjr7q009gZe4,784992.0,NaN,Road Runner,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",2.0,2.0,3.0,4.3,...,722,2175,2592,2309,1850,3109,13812,177681,0,Eaux-Vives - Lac
1568,ChIJL68o71FljEcRvXVtz35xl2A,8370681.0,NaN,Restaurant Les Tulipiers,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",1.0,2.0,2.0,4.3,...,722,2175,2592,2309,1850,3109,13812,177681,0,Eaux-Vives - Lac

In [48]:
df_rest.to_csv('../data/data_combined_v1.02.csv', encoding='utf-8-sig', index=False)