## Importing

In [2]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor

In [86]:
df = pd.read_csv('../raw_data/raw_data_combined_v1.02.csv', encoding='utf-8-sig')
df.columns

Index(['original_index', 'place_id', 'tripadvisor_id', 'fsq_id', 'name',
       'business_status', 'types', 'price_level', 'ta_price_level', 'rating',
       'user_ratings_total', 'ta_rating', 'ta_user_ratings_total',
       ' combined_rating ', 'geometry.location.lat', 'geometry.location.lng',
       'formatted_address', 'zip_code', 'city', 'international_phone_number',
       'website', 'combined_cuisine_type', 'ta_4sq_cuisine1',
       'ta_4sq_cuisine2', 'ta_4sq_cuisine3', 'ta_4sq_cuisine4',
       'ta_4sq_cuisine5'],
      dtype='object')

# Training K-means

In [94]:
knn = KNeighborsRegressor(n_neighbors=2)

In [9]:
df = df[['lat', 'lon', 'rating', 'price_level']]

In [48]:
df

          lat     lon  rating  price_level
0     46.2052  6.1149     4.2          2.0
1     46.2049  6.1140     3.7          NaN
2     46.2058  6.1148     3.9          NaN
3     46.2058  6.1148     NaN          NaN
4     46.1969  6.1151     4.5          2.0
...       ...     ...     ...          ...
1970  46.1996  6.1730     NaN          NaN
1971  46.1998  6.1746     4.3          2.0
1972  46.1997  6.1750     4.8          NaN
1973  46.2011  6.1751     NaN          NaN
1974  46.2017  6.1746     4.3          1.0

[1975 rows x 4 columns]

In [74]:
X = df.loc[df['price_level']>0] #Droping all rows without price level

In [75]:
X = X.loc[X['rating']>0] #Droping all rows without rating (6 rows)

In [76]:
y = X['price_level']

In [77]:
X = X[['lat', 'lon', 'rating']].copy()

In [78]:
X.describe()

              lat         lon      rating
count  576.000000  576.000000  576.000000
mean    46.203962    6.143218    4.259375
std      0.007982    0.009787    0.250528
min     46.182500    6.113900    3.200000
25%     46.198875    6.138100    4.100000
50%     46.203300    6.143750    4.300000
75%     46.209900    6.148325    4.400000
max     46.229400    6.174600    4.900000

In [95]:
knn.fit(X,y)

KNeighborsRegressor(n_neighbors=2)

In [96]:
knn.score(X,y)

0.5583064897371344

In [81]:
knn.predict(X[0:1])[0],X[0:1]

(1.8,
        lat     lon  rating
 0  46.2052  6.1149     4.2)

In [82]:
X_test = df.loc[df['price_level'].isna()]
X_test

          lat     lon  rating  price_level
1     46.2049  6.1140     3.7          NaN
2     46.2058  6.1148     3.9          NaN
3     46.2058  6.1148     NaN          NaN
5     46.2052  6.1155     NaN          NaN
6     46.2054  6.1153     5.0          NaN
...       ...     ...     ...          ...
1965  46.2039  6.1690     NaN          NaN
1967  46.2085  6.1693     3.0          NaN
1970  46.1996  6.1730     NaN          NaN
1972  46.1997  6.1750     4.8          NaN
1973  46.2011  6.1751     NaN          NaN

[1393 rows x 4 columns]

In [83]:
X_test = X_test.drop(['price_level'], axis=1).copy()
X_test

          lat     lon  rating
1     46.2049  6.1140     3.7
2     46.2058  6.1148     3.9
3     46.2058  6.1148     NaN
5     46.2052  6.1155     NaN
6     46.2054  6.1153     5.0
...       ...     ...     ...
1965  46.2039  6.1690     NaN
1967  46.2085  6.1693     3.0
1970  46.1996  6.1730     NaN
1972  46.1997  6.1750     4.8
1973  46.2011  6.1751     NaN

[1393 rows x 3 columns]

In [98]:
knn.predict(X_test[1:2])[0]

2.0