#### Importing

In [1]:
import pandas as pd
import numpy as np
from tensorflow.keras import Sequential, layers

2022-09-06 19:31:39.077292: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-09-06 19:31:39.077331: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

### Neural Network

In [3]:
model = Sequential()
model.add(layers.Dense(10, activation='relu', input_dim=100))
model.add(layers.Dense(5, activation='relu'))
model.add(layers.Dense(3, activation='relu'))
model.add(layers.Dense(1, activation='linear'))

In [5]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 10)                1010

 dense_3 (Dense)             (None, 5)                 55

 dense_4 (Dense)             (None, 3)                 18

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 1,087
Trainable params: 1,087
Non-trainable params: 0
_________________________________________________________________

In [7]:
df = pd.read_csv('../data/data_combined_v1.03.csv', encoding='utf-8-sig')
df.columns

Index(['place_id', 'tripadvisor_id', 'fsq_id', 'name', 'business_status',
       'types', 'price_level', 'ta_price_level', 'price_level_combined',
       'rating', 'user_ratings_total', 'ta_rating', 'ta_user_ratings_total',
       'combined_rating', 'geometry.location.lat', 'geometry.location.lng',
       'formatted_address', 'zip_code', 'city', 'international_phone_number',
       'website', 'google_category', 'ta_4sq_cuisine1', 'ta_4sq_cuisine2',
       'ta_4sq_cuisine3', 'ta_4sq_cuisine4', 'ta_4sq_cuisine5',
       'main_category_1', 'main_category_2', 'main_category_3',
       'main_category_4', 'combined_main_category', 'sub_category',
       'neighboorhood_area_km2', 'resident_population_total',
       'population_age_0_14', 'population_15_19', 'population_20_24',
       'population_25_34', 'population_35_44', 'population_45_54',
       'population_54_64', 'population_65+', 'resident_per_km2',
       'brut_income_annual_per_person', 'district', 'district_cluster'],
      dtype='object')

In [18]:
df[['google_category']].value_counts()

google_category
Restaurant              758
Italian restaurant       84
Thai restaurant          34
Fast food restaurant     28
Cafe                     28
                       ...
Food court                1
Fondue restaurant         1
Fish store                1
Lebanese                  1
0                         1
Length: 143, dtype: int64

In [8]:
df.isna().sum()

place_id                            0
tripadvisor_id                    624
fsq_id                            909
name                                0
business_status                     0
types                               0
price_level                       995
ta_price_level                    785
price_level_combined              194
rating                            219
user_ratings_total                219
ta_rating                         685
ta_user_ratings_total             685
combined_rating                   196
geometry.location.lat               0
geometry.location.lng               0
formatted_address                   0
zip_code                            0
city                                0
international_phone_number        214
website                           934
google_category                     0
ta_4sq_cuisine1                     5
ta_4sq_cuisine2                    65
ta_4sq_cuisine3                   155
ta_4sq_cuisine4                   193
ta_4sq_cuisine5                   122
main_category_1                     0
main_category_2                  1276
main_category_3                  1484
main_category_4                  1561
combined_main_category              0
sub_category                     1260
neighboorhood_area_km2              0
resident_population_total           0
population_age_0_14                 0
population_15_19                    0
population_20_24                    0
population_25_34                    0
population_35_44                    0
population_45_54                    0
population_54_64                    0
population_65+                      0
resident_per_km2                    0
brut_income_annual_per_person       0
district                            0
district_cluster                    0
dtype: int64

In [19]:
feat = [
    'price_level_combined','geometry.location.lat',
    'geometry.location.lng','google_category',
    'neighboorhood_area_km2', 'resident_population_total',
    'population_age_0_14', 'population_15_19', 'population_20_24',
    'population_25_34', 'population_35_44', 'population_45_54',
    'population_54_64', 'population_65+', 'resident_per_km2',
    'brut_income_annual_per_person'
]

targ = ['combined_rating']