In [52]:
import pandas as pd
import numpy as np
import folium
from folium import plugins
from folium.plugins import HeatMap
import geopy
from geopy.geocoders import Nominatim
from geopy import Nominatim

import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import matplotlib.colors as mcolors
matplotlib.style.use('seaborn-whitegrid')

In [2]:
# reading data combined data 
df=pd.read_csv("../raw_data/raw_data_combined.csv")

In [3]:
df.head()

,index,name,place_id,formatted_address,zip_code,city,international_phone_number,price_level,rating,user_ratings_total,...,types3,types4,types5,types6,types7,types8,types9,reviews,ta_id,ta_cuisine
0,0,Café Restaurant Palma,ChIJX68uubZkjEcRKKxpZ7OrgqU,"Av. d'Aïre 93bis, 1203 Genève, Switzerland",1203,Genève,+41 22 345 84 48,NaN,3.7,141.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Amin Masroor', 'author_url':...",13322506,0
1,1,Restaurant La Tentation,ChIJd6kh67ZkjEcRC1IQourQOyo,"Av. d'Aïre 91, 1203 Genève, Switzerland",1203,Genève,+41 22 344 28 29,2.0,4.2,158.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Lorcan Flynn', 'author_url':...",7159041,European
2,879,McDonald’s,ChIJ-wXg9zFljEcROYaIkweg4dE,"Cr de Rive 3, 1204 Genève, Switzerland",1204,Genève,+41 22 311 85 75,2.0,3.7,2274.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'EMILY DOEBELI', 'author_url'...",19951486,American
3,178,McDonald’s,ChIJARjSeiV7jEcR8tydzSBs3no,"Rte des Jeunes 9, 1227 Genève, Switzerland",1227,Genève,+41 22 301 99 11,2.0,3.8,1633.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'krishna chaitanya', 'author_...",23309074,0
4,883,The Hamburger Foundation - Pâquis,ChIJHxrrfiRljEcRogBS47e2k0o,"Rue Philippe-Plantamour 37, 1201 Genève, Switz...",1201,Genève,0,2.0,4.1,1350.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'Jad Khalidy', 'author_url': ...",6033142,American

In [4]:
df.columns

Index(['index', 'name', 'place_id', 'formatted_address', 'zip_code', 'city',
       'international_phone_number', 'price_level', 'rating',
       'user_ratings_total', 'geometry.location.lat', 'geometry.location.lng',
       'types1', 'types2', 'types3', 'types4', 'types5', 'types6', 'types7',
       'types8', 'types9', 'reviews', 'ta_id', 'ta_cuisine'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       1102 non-null   int64
 1   name                        1102 non-null   object
 2   place_id                    1102 non-null   object
 3   formatted_address           1102 non-null   object
 4   zip_code                    1102 non-null   int64
 5   city                        1102 non-null   object
 6   international_phone_number  1102 non-null   object
 7   price_level                 506 non-null    float64
 8   rating                      1101 non-null   float64
 9   user_ratings_total          1101 non-null   float64
 10  geometry.location.lat       1102 non-null   float64
 11  geometry.location.lng       1102 non-null   float64
 12  types1                      1102 non-null   object
 13  types2                      1102 non-null   object
 14  types3                      1102 non-null   object
 15  types4                      1102 non-null   object
 16  types5                      256 non-null    object
 17  types6                      79 non-null     object
 18  types7                      25 non-null     object
 19  types8                      7 non-null      object
 20  types9                      1 non-null      object
 21  reviews                     1102 non-null   object
 22  ta_id                       1102 non-null   int64
 23  ta_cuisine                  1102 non-null   object
dtypes: float64(5), int64(3), object(16)
memory usage: 206.8+ KB

In [23]:
df.isnull().sum()

index                            0
name                             0
place_id                         0
formatted_address                0
zip_code                         0
city                             0
international_phone_number       0
price_level                    596
rating                           1
user_ratings_total               1
geometry.location.lat            0
geometry.location.lng            0
types1                           0
types2                           0
types3                           0
types4                           0
types5                         846
types6                        1023
types7                        1077
types8                        1095
types9                        1101
reviews                          0
ta_id                            0
ta_cuisine                       0
dtype: int64

In [5]:
df.types1.unique()

array(['restaurant', 'meal_takeaway', 'convenience_store', 'cafe',
       'store', 'bar', 'meal_delivery', 'lodging', 'furniture_store',
       'night_club', 'grocery_or_supermarket', 'liquor_store'],
      dtype=object)

In [25]:
df.rating.unique()

array([3.7, 4.2, 3.8, 4.1, 4.3, 4.4, 4. , 3.9, 5. , 3. , 3.4, 4.5, 3.6,
       4.7, 3.5, 2.7, 4.9, 4.6, 3.1, 1. , 3.3, 0. , 4.8, 2.9, 2.8, 2.3,
       3.2, 1.3, 2.5, 2. , nan])

In [6]:
df.types2.unique()

array([' food', ' cafe', ' restaurant', ' point_of_interest', ' bar',
       ' night_club', ' meal_takeaway', ' school', ' meal_delivery',
       ' park', ' grocery_or_supermarket', ' bakery', ' store',
       ' furniture_store', ' finance', ' clothing_store', ' lodging'],
      dtype=object)

In [7]:
df.types3.unique()

array([' point_of_interest', ' food', ' store', ' bar', ' restaurant',
       ' lodging', ' convenience_store', ' meal_takeaway', ' bakery',
       ' night_club', ' cafe', ' grocery_or_supermarket'], dtype=object)

In [8]:
df.types4.unique()

array([' establishment', ' point_of_interest', ' restaurant', ' food',
       ' store', ' bar', ' grocery_or_supermarket', ' home_goods_store',
       ' cafe', ' meal_takeaway'], dtype=object)

In [9]:
df.types5.unique()

array([nan, ' establishment', ' food', ' point_of_interest',
       ' restaurant', ' store', ' home_goods_store'], dtype=object)

In [11]:
df.reviews[1]

"[{'author_name': 'Lorcan Flynn', 'author_url': 'https://www.google.com/maps/contrib/112510160972673972025/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AFdZucpKgT6R4Sft_Yuiv_CiJpDLwMiVMuXdmuKGxUsXAg=s128-c0x00000000-cc-rp-mo-ba3', 'rating': 5, 'relative_time_description': '2 years ago', 'text': 'Good food friendly service', 'time': 1595575133}, {'author_name': 'Dany Vinces', 'author_url': 'https://www.google.com/maps/contrib/116144535826454327673/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a/AItbvmmJh3Od4M0kmw7HMBuho7w5haOrYoDAWWPNpCQj=s128-c0x00000000-cc-rp-mo', 'rating': 5, 'relative_time_description': 'a year ago', 'text': 'Excellent!!!!', 'time': 1599758253}, {'author_name': 'Maribel Perez', 'author_url': 'https://www.google.com/maps/contrib/113012050420573241032/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AFdZucoQB95QQOMxPUNi0ej54RTssaD0HcYfet-YvZgtjw=s128-c0x00000000-cc-rp-mo-ba6', 'rating': 5, 'relative_time_description': '2 years ago', 'text': 'Exquisite', 'time': 1581758478}, {'author_name': 'David Hanhart', 'author_url': 'https://www.google.com/maps/contrib/113721297522261317267/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AFdZucriym8bDJvOWKQEk6CJyLETuuhr1JciyRCng0YvMSY=s128-c0x00000000-cc-rp-mo-ba5', 'rating': 4, 'relative_time_description': '7 years ago', 'text': 'Tasty food, nice dishes. Service could have been better.', 'time': 1423773015}, {'author_name': 'Clément Roch', 'author_url': 'https://www.google.com/maps/contrib/116295169756031463677/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AFdZucqykiDTWV6Jq7WI-f9vGRsnHhzb2debhBgm3BaUaw=s128-c0x00000000-cc-rp-mo-ba2', 'rating': 5, 'relative_time_description': '3 years ago', 'text': 'Good food', 'time': 1549205446}]"

In [12]:
df.reviews[2]

'[{\'author_name\': \'EMILY DOEBELI\', \'author_url\': \'https://www.google.com/maps/contrib/110456265392239665091/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZucof4byBH4wVdTyI11dK4l8fdzSSnO6HynycVTg9Kw=s128-c0x00000000-cc-rp-mo\', \'rating\': 3, \'relative_time_description\': \'a month ago\', \'text\': "Great service. Burgers are good but the fries were not fresh. Think they prepare them in advance in the container and leave them standing. This is the same in a lot of McDonald\'s.", \'time\': 1658001074}, {\'author_name\': \'Kirk Kvistad\', \'author_url\': \'https://www.google.com/maps/contrib/104827660337754023645/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZucpVKjm-sJFJ0cvV9Am3YjNxKJ0uimzvP5xmsLAHmMc=s128-c0x00000000-cc-rp-mo-ba5\', \'rating\': 5, \'relative_time_description\': \'5 months ago\', \'text\': \'Always perfect with excellent and efficient service. The new quarter pounders Royal TS are very good and super tasty with fresh vegetables.\', \'time\': 1647715126}, {\'author_name\': \'E. Margot\', \'author_url\': \'https://www.google.com/maps/contrib/110724359699173068562/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZucrxF7m36nj3-buXX-IuDCeOLOS4bPg4uYl3afFF6g=s128-c0x00000000-cc-rp-mo-ba4\', \'rating\': 5, \'relative_time_description\': \'a year ago\', \'text\': "I\'m lovin it.\\nCome on who doesn\'t like a not so healthy meal once in a while. Taste and service 👍👍👍👍👍", \'time\': 1603805234}, {\'author_name\': \'Alexandre Takacs\', \'author_url\': \'https://www.google.com/maps/contrib/116299720221695009377/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZucr4kgJnu3O9TQjhRifKHoiSz_RCYCxedxAUdl3PCw=s128-c0x00000000-cc-rp-mo-ba3\', \'rating\': 4, \'relative_time_description\': \'a year ago\', \'text\': "Well it is a Mcdonald... What can I add /contribute? If there is a predicable and well controlled experience I guess you will find it there. 4* because they have much reduced opening hours nowadays (apparently you don\'t take breakfast during Covid19 times...)", \'time\': 1601417585}, {\'author_name\': \'GuyZa\', \'author_url\': \'https://www.google.com/maps/contrib/117067313262541239934/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZuco4tHDzCkK6a4DS6LABiRFVauwICp28hikrqRevpQ=s128-c0x00000000-cc-rp-mo-ba6\', \'rating\': 4, \'relative_time_description\': \'3 months ago\', \'text\': \'Super clean and friendly branch , if you are looking for fast food ,this branch is recommended\', \'time\': 1651648895}]'

In [17]:
df["ta_cuisine"].unique()

array(['0', 'European', 'American', 'Swiss', 'Fast Food', 'Italian',
       'Turkish', 'Japanese', 'Chinese', 'Seafood', 'Barbecue', 'Cafe',
       'French', 'Brew Pub', 'Portuguese', 'Lebanese', 'Colombian',
       'Peruvian', 'Brazilian', 'Thai', 'Steakhouse', 'Indian',
       'Middle Eastern', 'International', 'African', 'Sushi', 'Pizza',
       'Healthy', 'Mexican', 'Asian', 'Spanish', 'Irish', 'Mediterranean',
       'Latin', 'Vegetarian Friendly', 'Fusion', 'Bar', 'Belgian',
       'Pakistani', 'Diner', 'Korean', 'Filipino', 'Persian', 'Moroccan',
       'Soups', 'Vietnamese', 'Greek', 'Contemporary', 'Tibetan',
       'Wine Bar', 'Dining bars', 'South American'], dtype=object)

In [40]:
def search_venue(df, category):
  search = lambda x:True if category.capitalize() in x else False
  venues = df[df['ta_cuisine'].apply(search)].reset_index(drop='index')
  venues_lat_long = list(zip(venues['geometry.location.lat'], venues['geometry.location.lng']))
  return venues_lat_long


def heatmap_venues(data):
    map=folium.Map(location=[46.204391, 6.143158], tiles="openstreetmap", zoom_start=14, min_zoom=13,max_zoom=15)
    HeatMap(data).add_to(map)
    return map

In [41]:
name_restaurant = search_venue(df, "Turkish")
heatmap_venues(name_restaurant)

In [42]:
# number of Turkish restaurant based on ta_cuisine column


df.loc[df["ta_cuisine"].str.contains("Turkish")]  # 6 restaurants showed also on the map

,index,name,place_id,formatted_address,zip_code,city,international_phone_number,price_level,rating,user_ratings_total,...,types3,types4,types5,types6,types7,types8,types9,reviews,ta_id,ta_cuisine
17,17,La Turquoise,ChIJ4XuI41xljEcR_y2uFNcgGb4,"Centre Commercial Balexert, Av. Louis-Casaï 27...",1209,Genève,+41 22 796 54 52,NaN,4.1,76.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'A WB', 'author_url': 'https:...",1604426,Turkish
52,647,Ali Baba Kebab,ChIJi6ywySFljEcRlmaKY69Vxa4,"Rue de Lausanne 65, 1202 Genève, Switzerland",1202,Genève,+41 22 738 71 00,1.0,4.3,250.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Deep Multani', 'author_url':...",16380947,Turkish
107,109,KAPRiS KEBAP PIZZA TACOS,ChIJ_2QNS15ljEcR4rWSZa8RiOo,"Rte de Meyrin 4, 1202 Genève, Switzerland",1202,Genève,+41 22 734 36 83,NaN,4.1,299.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'Jessyca Zaniboni', 'author_u...",9772773,Turkish
304,306,Saveurs d’Orient,ChIJ_4p5n9lkjEcRdqDv5X0JmIw,"Rue de la Servette 19, 1201 Genève, Switzerland",1201,Genève,+41 22 734 37 02,NaN,4.0,56.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Andries Reyskens', 'author_u...",9703710,Turkish
487,492,Ephese,ChIJHb75pdZ6jEcR1Mn8m__ka4E,"Rue de Carouge 74, 1205 Genève, Switzerland",1205,Genève,+41 22 320 13 96,1.0,4.0,477.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Twtce', 'author_url': 'https...",10337398,Turkish
494,499,Grill Leschot,ChIJ37MavdR6jEcRxDC7YTo9Zwc,"Rue Leschot 10, 1205 Plainpalais, Switzerland",1205,Genève,+41 22 321 84 70,NaN,4.8,49.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Merna S', 'author_url': 'htt...",5598038,Turkish

In [ ]:
map = folium.Map(location = [lat, lng], zoom_start = 13, tiles = "Mapbox bright")
feature_group = folium.FeatureGroup("Locations")

def search_venue(df, category):
  search = lambda x:True if category.capitalize() in x else False
  venues = df[df['ta_cuisine'].apply(search)].reset_index(drop='index')
  venues_lat_long = list(zip(venues['geometry.location.lat'], venues['geometry.location.lng']))
  return venues_lat_long



for lat, lng, name in zip(venues['geometry.location.lat'], venues['geometry.location.lng'], venues['rating']):
    feature_group.add_child(folium.Marker(location=[lat,lon],popup=name))

map.add_child(feature_group)

In [73]:
df.columns

Index(['index', 'name', 'place_id', 'formatted_address', 'zip_code', 'city',
       'international_phone_number', 'price_level', 'rating',
       'user_ratings_total', 'geometry.location.lat', 'geometry.location.lng',
       'types1', 'types2', 'types3', 'types4', 'types5', 'types6', 'types7',
       'types8', 'types9', 'reviews', 'ta_id', 'ta_cuisine'],
      dtype='object')

In [46]:
df.loc[df["ta_cuisine"].str.contains("Turkish")].rating
#category[["rating"]]

17     4.1
52     4.3
107    4.1
304    4.0
487    4.0
494    4.8
Name: rating, dtype: float64

In [47]:
category=df.loc[df["ta_cuisine"].str.contains("Turkish")]
category[["geometry.location.lat", "geometry.location.lng"]]

     geometry.location.lat  geometry.location.lng
17               46.219564               6.113111
52               46.215552               6.146822
107              46.214193               6.128963
304              46.209693               6.138007
487              46.192410               6.143787
494              46.196512               6.144204

In [65]:
category=df.loc[df["ta_cuisine"].str.contains("Turkish")]
category[["geometry.location.lat", "geometry.location.lng", "rating"]]

     geometry.location.lat  geometry.location.lng  rating
17               46.219564               6.113111     4.1
52               46.215552               6.146822     4.3
107              46.214193               6.128963     4.1
304              46.209693               6.138007     4.0
487              46.192410               6.143787     4.0
494              46.196512               6.144204     4.8

In [43]:
df.head()

,index,name,place_id,formatted_address,zip_code,city,international_phone_number,price_level,rating,user_ratings_total,...,types3,types4,types5,types6,types7,types8,types9,reviews,ta_id,ta_cuisine
0,0,Café Restaurant Palma,ChIJX68uubZkjEcRKKxpZ7OrgqU,"Av. d'Aïre 93bis, 1203 Genève, Switzerland",1203,Genève,+41 22 345 84 48,NaN,3.7,141.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Amin Masroor', 'author_url':...",13322506,0
1,1,Restaurant La Tentation,ChIJd6kh67ZkjEcRC1IQourQOyo,"Av. d'Aïre 91, 1203 Genève, Switzerland",1203,Genève,+41 22 344 28 29,2.0,4.2,158.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Lorcan Flynn', 'author_url':...",7159041,European
2,879,McDonald’s,ChIJ-wXg9zFljEcROYaIkweg4dE,"Cr de Rive 3, 1204 Genève, Switzerland",1204,Genève,+41 22 311 85 75,2.0,3.7,2274.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'EMILY DOEBELI', 'author_url'...",19951486,American
3,178,McDonald’s,ChIJARjSeiV7jEcR8tydzSBs3no,"Rte des Jeunes 9, 1227 Genève, Switzerland",1227,Genève,+41 22 301 99 11,2.0,3.8,1633.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'krishna chaitanya', 'author_...",23309074,0
4,883,The Hamburger Foundation - Pâquis,ChIJHxrrfiRljEcRogBS47e2k0o,"Rue Philippe-Plantamour 37, 1201 Genève, Switz...",1201,Genève,0,2.0,4.1,1350.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'Jad Khalidy', 'author_url': ...",6033142,American

In [ ]:
# showing restaurans with ratings
# using custom markers

In [26]:
df.rating.min()

0.0

In [27]:
df.rating.max()

5.0